@mixin vote-page-section{
  @include page-models-index;
}

@mixin hover-button{
  display:block;
  border:solid 1px transparent;
  @include border-radius(3px);
  font-size:0px;line-height:20em;overflow:hidden;position:relative;
  
  &::before, &::after{
    content:"";display:block;position:absolute;
    @include transition(background-color ease-in .1s);
  }
  
  &:hover{
    border:solid 1px #ccc;
    @include gradient(#fff,#eee);
  }
}

.page-votes-ops{
  @include page-ops;
  
  a.create{
    float:left;
    height:24px;line-height:24px;
    @include border-radius(2px);
    box-shadow:0 0 2px rgba(0, 0, 0, 0.3);
    border:solid 1px #6EA821;
    @include gradient(#92D440, #7EBD2E);
    color:white;
    text-shadow:-1px -1px 0 rgba(0, 0, 0, 0.2);
    padding:0 8px;
    &:hover{text-decoration:none;
      @include gradient(#8AD033, #76B12B);
      border:solid 1px #5E8F1C;
    };
  }
}

.page-votes{
  @include vote-page-section;
  
  .vote{
    padding:15px;
    border-bottom:solid 1px #ddd;
    &:last-child{border-bottom:none;};
    
    .voted-users-count{
      @include count-block-in-list;
    }
    .ops{
      float:right;
      .delete{
        @include list-ops-delete;
      }
    }
    
    .ct{
      margin-left:75px;margin-bottom:15px;
      margin-right:80px;
      .title{@include list-item-title;}
      .creator{@include list-item-creator;}
      .limit{font-size:12px;line-height:16px;}
    }
    
    .js-list-tags{
      @include list-tags;
    }
  }
}

.page-new-vote{
  @include vote-page-section;
  overflow:hidden;
  
  form{
    padding:15px;
    .field{
      input#vote_title{width:300px;}
      select{width:115px;}
      .item-list{
        .item{
          margin-bottom:5px;
          height:32px;
          input[type=text]{
            float:left;margin-right:5px;width:300px;
          }
          a.delete{
            float:left;height:32px;line-height:32px;
            @include hover-button;
            width:16px;height:16px;top:8px;
            &::before, &::after{background-color:#999;width:2px;height:14px;}
            &::before{@include transform(rotate(45deg));left:7px;top:1px;}
            &::after{@include transform(rotate(-45deg));left:7px;top:1px;}
            &:hover{&::before, &::after{background-color:#000;}}
          }
        }
        &.min{
          a.delete{display:none;}
        }
      }
      
      .add-new-item{
        @include hover-button;
        height:21px;width:53px;
        font-size:12px;line-height:21px;padding-left:24px;
        
        &::before, &::after{background-color:lighten(#389A0A,10%);}
        &::before{width:3px;height:13px;top:4px;left:9px;}
        &::after{height:3px;width:13px;top:9px;left:4px;}
        
        &:hover{
          text-decoration:none;
          &::before, &::after{background-color:#389A0A;}
        }
      }
    }
    .field.subm{
      padding:15px;background-color:#f4f4f4;margin:15px -15px -15px -15px;
      border-top:solid 1px #ddd;
    }
  }
}