.page-votes-ops{
  overflow:hidden;
  margin-bottom:10px;
  @include border-radius(5px);
  background-color:#f4f4f4;
  width:800px - 15*2;
  padding:15px;
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.2);
  
  a.create{
    float:left;
    height:24px;line-height:24px;
    @include border-radius(2px);
    box-shadow:0 0 2px rgba(0, 0, 0, 0.3);
    border:solid 1px #6EA821;
    @include gradient(#92D440, #7EBD2E);
    color:white;
    text-shadow:-1px -1px 0 rgba(0, 0, 0, 0.2);
    padding:0 8px;
    &:hover{text-decoration:none;
      @include gradient(#8AD033, #76B12B);
      border:solid 1px #5E8F1C;
    };
  }
}

.page-votes{
  background-color:white;
  @include border-radius(5px);
  width:800px;
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.2);
  margin-bottom:20px;
  .vote{
    padding:15px;
    border-bottom:solid 1px #ddd;
    &:last-child{
      border-bottom:none;
    };
    
    .voted-users-count{
      @include border-radius(4px);
      width:60px;float:left;overflow:hidden;
      .t{background-color:#E9F2D1;color:darken(#ABC272,10%);line-height:20px;text-align:center;}
      .c{background-color:#F3F9DF;color:darken(#ABC272,20%);line-height:28px;text-align:center;font-size:16px;font-weight:bold;}
    }
    .ops{
      float:right;
      .delete{
        display:block;
        height:18px;width:18px;
        border:solid 1px transparent;
        @include border-radius(3px);
        font-size:0px;line-height:20em;overflow:hidden;position:relative;
        &::before, &::after{
          content:"";display:block;position:absolute;
          width:2px;height:14px;
          background-color:#b1b1b1;
          @include transition(background-color ease-out .1s);
        };
        &::before{
          @include transform(rotate(45deg));left:8px;top:2px;
        }
        &::after{
          @include transform(rotate(-45deg));left:8px;top:2px;
        }
        &:hover{
          border:solid 1px #ccc;
          @include gradient(#fff,#eee);
          &::before, &::after{background-color:#000;}
        }
      }
    }
    
    .ct{
      margin-left:75px;
      margin-right:80px;
      .title{
        font-size:14px;font-weight:bold;line-height:16px;
        margin-bottom:16px;
        a{color:#444;&:hover{color:#444;text-decoration:none;}}
      }
      .creator{
        color:#666;
        a{color:darken(#A6C3CF,10%);}
      }
      .limit{font-size:12px;line-height:16px;}
    }
    .meta{
      margin-left:54px;
    }
  }
}