@import 'base/mixins';

// --------

@import 'base/reset';
@import 'base/typography';

// --------

@import 'product_layout/body'; //nav content a
@import 'product_layout/form'; //form
@import 'product_layout/table'; //table

// -------- 基本通用文档要素

.page-title{
  font-size:14px;
  text-shadow:1px 1px 0 rgba(#fff, 0.75);
  padding:12px;
  border-bottom:solid 1px #bdbdbd;
  border-right:solid 1px #bdbdbd;
}

.col1{width:240px;}
.col2{width:480px;}
.push1{margin-left:240px;}
.push2{margin-left:480px;}

@mixin col1{width:240px;}
@mixin col2{width:480px;}

// -------- 各种本项目专用的mixin，基本都是迭代时抽取的

@import 'useful/doms';

// -------- 以下是各个模块的CSS

@import 'admin';
@import 'auth';
@import 'setting';
@import 'userpage';
@import 'media_files';
@import 'uploader';
@import 'categories';
@import 'notifications';