@mixin base-font-family{
  font-family:Tahoma,Arial,Helvetica,STHeiti,sans-serif;
}

@import 'reset';
@import 'typography';

// ----------------- 常用的函数

@mixin gradient($from, $to){
  background : -moz-linear-gradient(-90deg,$from,$to);
  background : -webkit-gradient(linear,0% 0,0% 100%,from($from),to($to));
}

@mixin border-radius($radius) {
     -moz-border-radius : $radius;
  -webkit-border-radius : $radius;
          border-radius : $radius;
}

@mixin transition($params){
     -moz-transition : $params;
  -webkit-transition : $params;
          transition : $params;
}

@mixin transform($params){
     -moz-transform : $params;
  -webkit-transform : $params;
          transform : $params;
}

// -----------------------------------------------
html{
  overflow:hidden;
}

body{
  padding:0;margin:0;
  background-color:#e5e5e5;
  font-size:12px;
  color:#404040;
  width:100%;height:100%;

  $page-header-height:50px;
  $setting-width:79px;
  .page-header{
    //@include gradient(#f1f1f1, #e1e1e1);
    background-color:#e6e6e6;
    border-bottom:solid 1px #bbb;
    box-shadow:0 0 5px rgba(black, 0.3);
    height:$page-header-height;line-height:$page-header-height;
    overflow:visible;
    
    .settings{
      position:absolute;
      height:50px;width:$setting-width;border-right:solid 1px #222;
      background-color:#444;
      border-bottom:solid 1px #222;
      left:0;top:0;
      z-index:10;
      overflow:hidden;
      
      .setting{
        color:#fff;
        display:block;
        height:50px;padding-left:15px;
        @include transition(background-color ease-out .2s);
        &:hover{
          text-decoration:none;
          //background-color:rgba(#5C95DB, 0.3);
          //background-color:rgba(#45D732, 0.3);
          background-color:rgba(white, 0.3);
        };
      }
      
      ul.items{
        opacity:0;
        @include transition(opacity ease-out .2s);
        li{
          height:40px;line-height:40px;
          a{color:white;&:hover{color:white;text-decoration:none;}
            display:block;padding-left:15px;
            @include transition(background-color ease-out .2s);
            &:hover{background-color:rgba(white, 0.4);border-left:solid 3px white;padding-left:12px;}
          };
        }
      }
      
      @include transition(all ease-out .2s);
      &.open{
        width:200px;height:175px;
        @include border-radius(0 0 5px 0);
        background-color:#000;
        opacity:0.9;
        .setting{color:#999;}
        ul.items{
          opacity:1;
        }
      }
    }
    
    $color:#666;
    .title{
      color:$color;
      padding:0 0 0 110px;
      float:left;font-weight:bold;
    }
    .user{
      overflow:hidden;
      float:right;margin-right:20px;
      .current-user, .logout{
        float:left;
        margin-left:20px;
        color:$color;a{color:$color !important;}
      }
    }
  }
  
  .page-nav{
    position:absolute;
    top:51px;bottom:0px;
    background-color:lighten(#444, 5%);
    width:$setting-width;border-right:solid 1px #333;
    
    $avatar-w:48px;
    a{color:white;&:hover{color:white;}}
    a.avatar{
      display:block;
      width:48px;height:48px;
      $margin:($setting-width + 1px - 48px)/2;
      margin:$margin 0 0 $margin - 1px;
      margin-bottom:20px;
      box-shadow:0 0 5px black;
      overflow:hidden;
      @include border-radius(4px);
      img{}
    }
    $links-margin:15px;
    a.todos, a.media-files, a.discuss, a.short-messages{
      display:block;
      margin-left:$links-margin;margin-bottom:20px;
    }
  }
  
  .page-content{
    position:absolute;
    left:80px;top:51px;
    bottom:0;right:0;
    padding:20px 0 0 30px;
    overflow-y:scroll;
    
    table{
      border-spacing:0;
      border-collapse:collapse;
      margin:0 0 20px 0;
      thead{
        background-color:#EFEFEF;
        th{
          border:solid 1px #ccc;
          padding:6px;
          color:#666;
        }
      }
      tbody{
        background-color:#fff;
        td{
          border:solid 1px #ccc;
          padding:6px 10px;
          &.running{
            background-color:#F5FFD6;
            color:#657F12;
          }
          &.closed{
            background-color:#FFE0D6;
            color:#C7441C;
          }
        }
      }
    }
  }
  
  a{
    color:#0078B6;
    &:hover{color:#0078B6;};
  }
}

// ------------------ 基本通用文档要素
.page-title{
  font-size:16px;//font-weight:bold;
  text-shadow:1px 1px 0 rgba(#fff, 0.75);
  margin-bottom:20px;
}

form{
  .field{
    margin-bottom:10px;
    overflow:visible;
    &:last-child{margin-bottom:0;}
    
    label{
      display:block;line-height:20px;height:20px;margin-bottom:5px;
      &.need{
        &::after{
          content:"";
          display:inline-block;width:5px;height:5px;@include border-radius(5px);
          background-color:lighten(red, 20%);
          margin-left:5px;position:relative;top:-2px;
        };
      }
    }
    input[type=text], input[type=password]{
      border:solid #bbb 1px;
      @include border-radius(2px);
      box-shadow:0 1px 2px rgba(0, 0, 0, 0.1) inset;
      font-size:12px;line-height:30px;padding:0 4px;
      width:200px;height:30px;
      &:focus{
        box-shadow:0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
        border:solid 1px rgba(82, 168, 236, 0.8);
      }
    }
    textarea{
      border:solid #bbb 1px;
      @include border-radius(2px);
      box-shadow:0 1px 2px rgba(0, 0, 0, 0.1) inset;
      font-size:12px;line-height:20px;padding:4px;
      width:300px;height:100px;
      &:focus{
        box-shadow:0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
        border:solid 1px rgba(82, 168, 236, 0.8);
      }
    }
  }
  
  .form-submit-button{
    @include gradient(#DD4B39, #C53727);
    border:1px solid #B0281A;
    @include border-radius(2px);
    display:inline-block;
    height:32px;line-height:32px;
    padding:0 10px;
    font-size:14px;
    color:white;&:hover{color:white;text-decoration:none;};
    box-shadow:0px 0px 2px rgba(black, 0.3);
    text-shadow:-1px -1px 0 rgba(black, 0.2);
    margin-right:5px;
    &:hover{
      @include gradient(#DB3F2C, #B83324);
      border-color:#952216;
    }
    
    &.disabled{
      @include gradient(#fbfbfb, #f4f4f4);
      border:solid 1px #ccc;
      box-shadow:none;
      text-shadow:none;
      color:#cacaca;
    }
  }
  
  .form-cancel{
    @include gradient(#888, #666);
    border:1px solid #555;
    @include border-radius(2px);
    display:inline-block;
    height:32px;line-height:32px;
    padding:0 10px;
    font-size:14px;
    color:white;&:hover{color:white;text-decoration:none;};
    box-shadow:0px 0px 2px rgba(black, 0.3);
    text-shadow:-1px -1px 0 rgba(black, 0.2);
    &:hover{
      @include gradient(#777, #555);
      border-color:#444;
    }
  }
}

//////////////
@mixin page-ops{
  overflow:hidden;
  margin-bottom:10px;
  @include border-radius(5px);
  background-color:#f4f4f4;
  width:800px - 15*2;
  padding:15px;
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.2);
}

@mixin page-models-index{
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.2);
  background-color:white;
  width:800px;
  @include border-radius(5px);
  margin-bottom:20px;
}

@mixin count-block-in-list{
  @include border-radius(4px);
  width:60px;float:left;overflow:hidden;
  .t{background-color:#E9F2D1;color:darken(#ABC272,10%);line-height:20px;text-align:center;}
  .c{background-color:#F3F9DF;color:darken(#ABC272,20%);line-height:28px;text-align:center;font-size:16px;font-weight:bold;}
}

@mixin list-item-title{
  font-size:14px;font-weight:bold;line-height:16px;
  margin-bottom:16px;
  a{color:#444;&:hover{color:#444;text-decoration:none;}}
}

@mixin list-item-creator{
  color:#666;
  a{color:darken(#A6C3CF,10%);}
}

@mixin list-tags{
  margin-left:75px;
  height:24px;line-height:24px;
  overflow:hidden;
  
  .tag{
    float:left;
    height:20px;line-height:20px;
    background-color:#f1f1f1;
    @include border-radius(3px 0 3px 0);
    border:solid 1px #ccc;
    border-color:#eee #ccc #ccc #eee;
    margin-right:6px;
    padding:0 6px;
  }
  
  .no-tag{
    float:left;
    height:20px;line-height:20px;
    background-color:transparent;
    border:solid 1px transparent;
    margin-right:6px;
    padding:0;
    color:#aaa;
  }
  
  .edit{
    float:left;
    color:#aaa;
    height:20px;line-height:20px;border:solid 1px transparent;
    position:relative;
    overflow:hidden;font-size:0;line-height:20em;
    width:20px;height:20px;
    
    &:hover{
      border:solid 1px #ccc;
      @include gradient(#fff,#eee);
      @include border-radius(3px);
      &:before{border-color:#555 transparent transparent transparent;}
      &:after{background-color:#555;}
    }
    
    $bdc:#999;
    &:before{
      content:"";
      display:block;position:absolute;
      left:2px;top:12px;
      border-color:$bdc transparent transparent transparent;
      border-style:solid;
      border-width:4px 2px;
      @include transform(rotate(45deg));
    };
    &:after{
      content:"";
      display:block;position:absolute;
      left:9px;top:4px;
      background-color:$bdc;
      width:4px;height:10px;
      @include transform(rotate(45deg));
    }
  }
}

@mixin list-ops-delete{
  @include hover-button;
  height:18px;width:18px;
  
  &::before, &::after{width:2px;height:14px;background-color:#b1b1b1;};
  &::before{@include transform(rotate(45deg));left:8px;top:2px;}
  &::after{@include transform(rotate(-45deg));left:8px;top:2px;}
  &:hover{
    &::before, &::after{background-color:#000;}
  }
}

///////////////////
// 登录验证

.page-login{
}

.page-signup{
  @extend .page-login;
}

.page-auth-intro{
  margin:20px 0;
  .p{
    padding-bottom:10px;
    margin-bottom:10px;
    border-bottom:solid 1px #eee;
  }
}

// 以下是各个模块的CSS

@import 'setting';
@import 'votes';
@import 'todos';
@import 'questions';
@import 'short_messages';