@import 'base/mixins';

// --------

@import 'base/reset';
@import 'base/typography';

// --------

@import 'product_layout/body'; //nav content a
@import 'product_layout/form'; //form

// -------- 基本通用文档要素

.page-title{
  font-size:16px;//font-weight:bold;
  text-shadow:1px 1px 0 rgba(#fff, 0.75);
  margin-bottom:20px;
}

// -------- 各种本项目专用的mixin，基本都是迭代时抽取的

@import 'useful/doms';

// -------- 以下是各个模块的CSS

@import 'admin';
@import 'auth';
@import 'setting';
@import 'votes';
@import 'todos';
@import 'questions';
@import 'short_messages';
@import 'userpage';
@import 'media_files';