html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block; }

html {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-text-size-adjust: none; }

body {
  line-height: 1.5; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

table, td, th {
  vertical-align: middle; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: 0; }

a img {
  border: none; }

a em {
  font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti; }

/*列表标签*/
li ul, li ol {
  margin: 0; }

ul, ol {
  margin: 0; }

ul {
  list-style-type: none; }

ol {
  list-style-type: decimal; }

dl {
  margin: 0 0 1.5em 0; }

dl dt {
  font-weight: bold; }

dd {
  margin-left: 1.5em; }

textarea {
  resize: none;
  font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti; }

/*基础字体设置*/
html {
  font-size: 100.01%; }

body {
  font-size: 75%;
  background: #fff;
  color: #222;
  font-family: Tahoma,Arial,Helvetica,STHeiti,sans-serif; }

/*各级标题*/
h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h1 {
  font-size: 2em;
  margin-bottom: 0.5em; }

h2 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.8em; }

h3 {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 2em; }

h4 {
  font-size: 1.2em;
  font-weight: bold; }

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em; }

h6 {
  font-size: 1em;
  font-weight: bold; }

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0; }

/*文字相关元素标签*/
p {
  margin: 0 0 1em; }

p img.left {
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0; }

p img.right {
  float: right;
  margin: 1.5em 0 1.5em 1.5em; }

a:hover {
  text-decoration: underline; }

a {
  text-decoration: none; }

a {
  outline: none; }

a {
  cursor: pointer; }

blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic; }

strong {
  font-weight: bold; }

em, dfn {
  font-style: italic; }

dfn {
  font-weight: bold; }

sup, sub {
  line-height: 0; }

abbr, acronym {
  border-bottom: 1px dotted #666; }

address {
  margin: 0 0 1.5em;
  font-style: italic; }

del {
  color: #666; }

pre {
  margin: 1.5em 0;
  white-space: pre; }

pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5; }

/*列表标签*/
li ul, li ol {
  margin: 0; }

ul, ol {
  margin: 0; }

ul {
  list-style-type: none; }

ol {
  list-style-type: decimal; }

dl {
  margin: 0 0 1.5em 0; }

dl dt {
  font-weight: bold; }

dd {
  margin-left: 1.5em; }

/*表格*/
table {
  margin-bottom: 1.4em; }

th {
  font-weight: bold; }

thead th {
  background: #c3d9ff; }

th, td, caption {
  padding: 0; }

tr.even td {
  background: #e5ecf9; }

tfoot {
  font-style: italic; }

caption {
  background: #eee; }

/*杂项修饰*/
.hide {
  display: none !important; }

.quiet {
  color: #999; }

.bold {
  font-weight: bold; }

.normal {
  font-weight: normal; }

.textleft {
  text-align: left; }

.textright {
  text-align: right; }

.fleft {
  float: left !important; }

.fright {
  float: right !important; }

.boxfix {
  overflow: hidden; }

.wordwrap {
  word-wrap: break-word;
  word-break: break-all;
  -moz-binding: url("wordwrap.xml#wordwrap");
  overflow: hidden; }

html {
  overflow: hidden; }

body {
  padding: 0;
  margin: 0;
  background-color: #e5e5e5;
  font-size: 12px;
  color: #404040;
  width: 100%;
  height: 100%; }
  body .page-header {
    background-color: #e6e6e6;
    border-bottom: solid 1px #bbb;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    height: 50px;
    line-height: 50px;
    overflow: visible; }
    body .page-header .settings {
      position: absolute;
      height: 50px;
      width: 79px;
      border-right: solid 1px #222;
      background-color: #444;
      border-bottom: solid 1px #222;
      left: 0;
      top: 0;
      z-index: 10;
      overflow: hidden;
      -moz-transition: all ease-out 0.2s;
      -webkit-transition: all ease-out 0.2s;
      transition: all ease-out 0.2s; }
      body .page-header .settings .setting {
        color: #fff;
        display: block;
        height: 50px;
        padding-left: 15px;
        -moz-transition: background-color ease-out 0.2s;
        -webkit-transition: background-color ease-out 0.2s;
        transition: background-color ease-out 0.2s; }
        body .page-header .settings .setting:hover {
          text-decoration: none;
          background-color: rgba(255, 255, 255, 0.3); }
      body .page-header .settings ul.items {
        opacity: 0;
        -moz-transition: opacity ease-out 0.2s;
        -webkit-transition: opacity ease-out 0.2s;
        transition: opacity ease-out 0.2s; }
        body .page-header .settings ul.items li {
          height: 40px;
          line-height: 40px; }
          body .page-header .settings ul.items li a {
            color: white;
            display: block;
            padding-left: 15px;
            -moz-transition: background-color ease-out 0.2s;
            -webkit-transition: background-color ease-out 0.2s;
            transition: background-color ease-out 0.2s; }
            body .page-header .settings ul.items li a:hover {
              color: white;
              text-decoration: none; }
            body .page-header .settings ul.items li a:hover {
              background-color: rgba(255, 255, 255, 0.4);
              border-left: solid 3px white;
              padding-left: 12px; }
      body .page-header .settings.open {
        width: 200px;
        height: 175px;
        -moz-border-radius: 0 0 5px 0;
        -webkit-border-radius: 0 0 5px 0;
        border-radius: 0 0 5px 0;
        background-color: #000;
        opacity: 0.9; }
        body .page-header .settings.open .setting {
          color: #999; }
        body .page-header .settings.open ul.items {
          opacity: 1; }
    body .page-header .title {
      color: #666666;
      padding: 0 0 0 110px;
      float: left;
      font-weight: bold; }
    body .page-header .user {
      overflow: hidden;
      float: right;
      margin-right: 20px; }
      body .page-header .user .current-user, body .page-header .user .logout {
        float: left;
        margin-left: 20px;
        color: #666666; }
        body .page-header .user .current-user a, body .page-header .user .logout a {
          color: #666666 !important; }
  body .page-nav {
    position: absolute;
    top: 51px;
    bottom: 0px;
    background-color: #515151;
    width: 79px;
    border-right: solid 1px #333; }
    body .page-nav a {
      color: white; }
      body .page-nav a:hover {
        color: white; }
    body .page-nav a.avatar {
      display: block;
      width: 48px;
      height: 48px;
      margin: 16px 0 0 15px;
      margin-bottom: 20px;
      box-shadow: 0 0 5px black;
      overflow: hidden;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px; }
    body .page-nav a.todos, body .page-nav a.media-files, body .page-nav a.discuss, body .page-nav a.short-messages {
      display: block;
      margin-left: 15px;
      margin-bottom: 20px; }
  body .page-content {
    position: absolute;
    left: 80px;
    top: 51px;
    bottom: 0;
    right: 0;
    padding: 20px 0 0 30px;
    overflow-y: scroll; }
    body .page-content table {
      border-spacing: 0;
      border-collapse: collapse;
      margin: 0 0 20px 0; }
      body .page-content table thead {
        background-color: #EFEFEF; }
        body .page-content table thead th {
          border: solid 1px #ccc;
          padding: 6px;
          color: #666; }
      body .page-content table tbody {
        background-color: #fff; }
        body .page-content table tbody td {
          border: solid 1px #ccc;
          padding: 6px 10px; }
          body .page-content table tbody td.running {
            background-color: #F5FFD6;
            color: #657F12; }
          body .page-content table tbody td.closed {
            background-color: #FFE0D6;
            color: #C7441C; }
  body a {
    color: #0078B6; }
    body a:hover {
      color: #0078B6; }

.page-title {
  font-size: 16px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
  margin-bottom: 20px; }

form .field {
  margin-bottom: 10px;
  overflow: visible; }
  form .field label {
    display: block;
    line-height: 20px;
    height: 20px;
    margin-bottom: 5px; }
    form .field label.need::after {
      content: "*";
      color: red;
      padding-left: 5px; }
  form .field input[type=text], form .field input[type=password] {
    border: solid #bbb 1px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    font-size: 12px;
    line-height: 30px;
    padding: 0 4px;
    width: 200px;
    height: 30px; }
    form .field input[type=text]:focus, form .field input[type=password]:focus {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
      border: solid 1px rgba(82, 168, 236, 0.8); }
form .form-submit-button {
  background: -moz-linear-gradient(-90deg, #dd4b39, #c53727);
  background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#dd4b39), to(#c53727));
  border: 1px solid #B0281A;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  font-size: 14px;
  color: white;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2); }
  form .form-submit-button:hover {
    color: white;
    text-decoration: none; }
  form .form-submit-button:hover {
    background: -moz-linear-gradient(-90deg, #db3f2c, #b83324);
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#db3f2c), to(#b83324));
    border-color: #952216; }
  form .form-submit-button.disabled {
    background: -moz-linear-gradient(-90deg, #fbfbfb, #f4f4f4);
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#fbfbfb), to(#f4f4f4));
    border: solid 1px #ccc;
    box-shadow: none;
    text-shadow: none;
    color: #cacaca; }

.page-auth-intro {
  margin: 20px 0; }
  .page-auth-intro .p {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px #eee; }

.page-header.setting {
  position: relative; }
  .page-header.setting .settings a.exit {
    position: absolute;
    background-color: #555;
    height: 32px;
    line-height: 32px;
    width: 69px;
    text-align: center;
    top: 9px;
    left: 5px;
    color: #fff;
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.1), 2px 2px 5px rgba(0, 0, 0, 0.15);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-transition: background-color ease-out 0.2s;
    -webkit-transition: background-color ease-out 0.2s;
    transition: background-color ease-out 0.2s; }
    .page-header.setting .settings a.exit:hover {
      color: #fff;
      text-decoration: none; }
    .page-header.setting .settings a.exit:hover {
      background-color: #777; }

.page-nav.setting {
  padding-top: 20px; }
  .page-nav.setting a.base-setting, .page-nav.setting a.avatar-setting {
    display: block;
    margin-left: 15px;
    margin-bottom: 20px; }

.page-setting .crop-avatars {
  margin-bottom: 20px; }
  .page-setting .crop-avatars .avatar-img {
    margin-right: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: solid 3px white; }
  .page-setting .crop-avatars .original-img, .page-setting .crop-avatars .crop-preview {
    margin-bottom: 20px; }
    .page-setting .crop-avatars .original-img .t, .page-setting .crop-avatars .crop-preview .t {
      margin-bottom: 5px;
      height: 20px;
      line-height: 20px; }
    .page-setting .crop-avatars .original-img .box, .page-setting .crop-avatars .crop-preview .box {
      display: inline-block;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      border: solid 3px white;
      font-size: 0;
      line-height: 0; }
      .page-setting .crop-avatars .original-img .box.crop, .page-setting .crop-avatars .crop-preview .box.crop {
        width: 96px;
        height: 96px;
        overflow: hidden; }

.page-votes-ops {
  overflow: hidden;
  margin-bottom: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #f4f4f4;
  width: 770px;
  padding: 15px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); }
  .page-votes-ops a.create {
    float: left;
    height: 24px;
    line-height: 24px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    border: solid 1px #6EA821;
    background: -moz-linear-gradient(-90deg, #92d440, #7ebd2e);
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#92d440), to(#7ebd2e));
    color: white;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
    padding: 0 8px; }
    .page-votes-ops a.create:hover {
      text-decoration: none;
      background: -moz-linear-gradient(-90deg, #8ad033, #76b12b);
      background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#8ad033), to(#76b12b));
      border: solid 1px #5E8F1C; }

.page-votes {
  background-color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 800px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px; }
  .page-votes .vote {
    padding: 15px;
    border-bottom: solid 1px #ddd; }
    .page-votes .vote:last-child {
      border-bottom: none; }
    .page-votes .vote .voted-users-count {
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      width: 60px;
      float: left;
      overflow: hidden; }
      .page-votes .vote .voted-users-count .t {
        background-color: #E9F2D1;
        color: #96b34e;
        line-height: 20px;
        text-align: center; }
      .page-votes .vote .voted-users-count .c {
        background-color: #F3F9DF;
        color: #78903e;
        line-height: 28px;
        text-align: center;
        font-size: 16px;
        font-weight: bold; }
    .page-votes .vote .ops {
      float: right; }
      .page-votes .vote .ops .delete {
        display: block;
        height: 18px;
        width: 18px;
        border: solid 1px transparent;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        font-size: 0px;
        line-height: 20em;
        overflow: hidden;
        position: relative; }
        .page-votes .vote .ops .delete::before, .page-votes .vote .ops .delete::after {
          content: "";
          display: block;
          position: absolute;
          width: 2px;
          height: 14px;
          background-color: #b1b1b1;
          -moz-transition: background-color ease-out 0.1s;
          -webkit-transition: background-color ease-out 0.1s;
          transition: background-color ease-out 0.1s; }
        .page-votes .vote .ops .delete::before {
          -moz-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          left: 8px;
          top: 2px; }
        .page-votes .vote .ops .delete::after {
          -moz-transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          left: 8px;
          top: 2px; }
        .page-votes .vote .ops .delete:hover {
          border: solid 1px #ccc;
          background: -moz-linear-gradient(-90deg, white, #eeeeee);
          background: -webkit-gradient(linear, 0% 0, 0% 100%, from(white), to(#eeeeee)); }
          .page-votes .vote .ops .delete:hover::before, .page-votes .vote .ops .delete:hover::after {
            background-color: #000; }
    .page-votes .vote .ct {
      margin-left: 75px;
      margin-right: 80px; }
      .page-votes .vote .ct .title {
        font-size: 14px;
        font-weight: bold;
        line-height: 16px;
        margin-bottom: 16px; }
        .page-votes .vote .ct .title a {
          color: #444; }
          .page-votes .vote .ct .title a:hover {
            color: #444;
            text-decoration: none; }
      .page-votes .vote .ct .creator {
        color: #666; }
        .page-votes .vote .ct .creator a {
          color: #85adbd; }
      .page-votes .vote .ct .limit {
        font-size: 12px;
        line-height: 16px; }
    .page-votes .vote .meta {
      margin-left: 54px; }
