// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page-admin-categories {
  .category, .child_category {
    width:auto;
    max-width:640px;
    float:none;
    display:block;
  }

  .child_category {
    margin:16px 16px;
  }
}

.float {
  float:left;
}

.naved:after {
  content:">";
}

.naved-alt:after {
  content:"v >";
}

.page-sns-categories div ul.categories-list {
  padding:0;
  margin:0;
  min-width:160px;
}

ul.categories-list.drop-down {
  position:absolute;
  left:-99999999px;
  background:blue;
  a {color:#fff;}
}

li.naved-alt:hover ul.categories-list.drop-down {
  left:0;
  top:26px;
}

.page-sns-categories {
  max-width:800px;
  .lv1 {
    background:#888;
  }
  .lv2 {
    background:#aaa;
  }
  .lv3 {
    background:#ccc;
  }
  li.category {
    padding:4px 8px;
    min-width:144px;
  }
  .lv1 li.category {
    position:relative;
  }
}

.highlighted-category {
  background:#000;

  a{
    color:#fff;
  }
}

.clearfix {clear:both;}

.error_msg {
  width:640px;
  background:red;
  color:white;
}