.page-media-file-comments {
  overflow: auto;
  height: 600px;
  width: 280px;
  position: absolute;
  top: 240px;
  right: 0px; }
  .page-media-file-comments .media-file-comment {
    width: 280px;
    padding: 4px; }
  .page-media-file-comments .media-file-comment-form label, .page-media-file-comments .media-file-comment-form input, .page-media-file-comments .media-file-comment-form textarea {
    display: block;
    margin: 8px 0; }
  .page-media-file-comments .media-file-comment-form textarea {
    height: 40px; }
