- htitle '通知管理'

- hbreadcrumb '基础数据管理', '/admin'
- hbreadcrumb '通知管理'

.page-admin-ops
  = link_to '创建通知', new_admin_announcement_path, :class => 'create'

.page-paginate= will_paginate @announcements

.page-admin-models.announcements
  = render 'announcement_list', :announcements => @announcements
  
.page-paginate= will_paginate @announcements