:ruby
  cols_hash = {
    :name => 10
  }

= page_model_list models, :cols=>cols_hash, :class=>'no-headtop admin-upload-documents' do |p|
  - model = p.model
  = p.cell :name do
    - case model
    - when UploadDocumentDir
      %a{:href=>"/admin/upload_document_dirs?dir_id=#{model.id}"}= model.name
    - when UploadDocument
      %a{:href=>"/admin/upload_documents/#{model.id}"}= model.title