:ruby
  cols_hash = {
    :ops => 1,
    :name => 3
  }


.page-model-list.admin-upload-document-files

  - if files.blank?
    .blank
      目前列表内没有内容
  - else
    - files.each do |file|
      = page_list_body :cols => cols_hash do |p|
        = p.checkbox(file)
        = p.cell :name do
          %a.edit{:href=>"/admin/upload_documents"}= file.title