:ruby
  cols_hash = {
    :ops => 1,
    :name => 3
  }

.page-model-list.admin-upload-document-dirs
  - if upload_document_dirs.blank?
    .blank
      目前列表内没有内容
  - else
    - upload_document_dirs.each do |dir|
      = page_list_body :cols => cols_hash do |p|
        = p.checkbox(dir)
        = p.cell :name, dir.name 
