.page-title 教师维护

= render 'admin/shared/search_field', :search_path => search_admin_students_path

.page-admin-ops
  %a.create{:href=>'/admin/teachers/new'} 增加教师

.page-admin-models.teachers
  = render 'teacher_list', :teachers => @teachers

= will_paginate @teachers
