.page-title 教师维护

.page-admin-ops
  %a.create{:href=>'/admin/teachers/new'} 增加教师

.page-admin-models.teachers
  -@teachers.each do |teacher|
    .model.teacher
      .avatar
        =avatar User.new, :medium
      .p
        .t 教师姓名
        .c=teacher.real_name
      .p
        .t 教师编号 
        .c=teacher.tid
      .p.l3
        .t 其他信息 
        .c

      .detail=link_to "查看详情","/admin/teachers/#{teacher.id}"
  
		
