- htitle '教师维护'

- hbreadcrumb '基础数据管理', '/admin'
- hbreadcrumb '教师维护'

- content_for :topbar do
  = jsearchbar search_admin_teachers_path

.page-admin-ops
  %a.create{:href=>'/admin/teachers/new'} 增加教师
  %a.import{:href=>'/admin/teachers/import_from_csv_page'} 导入教师

.page-paginate= will_paginate @teachers

.page-admin-models.teachers
  = render 'teacher_list', :teachers => @teachers

.page-paginate= will_paginate @teachers
