html{
  width:100%;
  height:100%;
  overflow-x:hidden;
  overflow-y:scroll;
}

body{
  padding:0;margin:0;
  background-color:#fff;
  font-size:12px;
  color:#333;
  width:100%;
  height:100%;

  a{
    //color:#1C5AC4;
    //color:#f60;
    //&:hover{color:#346EF3;};
    color:#346EF3;
    &:hover{color:#f60;};
  }

  .page-container{
    height:100%;
    margin:0 auto;
    background-color:#F8F8F8;

    position:relative;
    &:before{
      content:"";
      position:absolute;
      height:100%;
      width:1px;
      //z-index:-1;
      background-color:#bdbdbd;
      top:0;right:0;
      pointer-events:none;
    }

    &.col6{
      width:1440px;
      .page-header{width:1199px;}
    }
    &.col5{
      width:1200px;
      .page-header{width:959px;}
    }
    &.col4{
      width:960px;
      .page-header{width:719px;}
    }

    .page-nav{
      position:fixed;
      width:238px;
      //background-color:#FFF8ED;
      //border:solid 1px #FCDFBE;
      //background-color:#FFFAE8;
      //border:solid 1px #bdbdbd;
      background-color:#ECECEC;
      border:solid 1px #bdbdbd;

      border-top:none;border-bottom:none;
      height:100%;
      
      a.home{
        font-size:16px;
        color:#333;
        @include transition(all ease-in .2s);
        &:hover{text-decoration:none;
          //color:#346EF3;
          background-color:rgba(#f60, 0.04);
        }

        display:block;
        height:40px;line-height:40px;
        border-bottom:solid 1px transparent;
        position:relative;
        padding-left:60px;

        &:before{
          content:"";
          display:block;
          position:absolute;
          width:44px;height:32px;
          @include allimg(0, 96);
          top:4px;left:8px;
        }
      }

      .user-info{
        padding:12px;
        overflow:hidden;
        margin-bottom:12px;

        .avatar{
          float:left;
          width:96px;height:96px;
          overflow:hidden;
          @include border-radius(2px);
          img{width:96px;height:96px;@include border-radius(2px);}
          border:solid 2px white;
          background-color:rgba(white, 0.6);
          box-shadow:1px 1px 2px rgba(0, 0, 0, 0.2);
        }
        .name{
          margin-left:116px;font-size:14px;
          margin-bottom:7px;
          a{color:#333;}
        }
        .setting{
          margin-left:116px;
        }
      }

      .sp{
        height:0;
        //border-top:solid 1px #FCDFBE;
        border-top:solid 1px #C6C6C6;
        border-bottom:solid 1px white;
        margin:6px 12px;
      }

      .items{
        a.item{
          display:block;
          margin:0 12px;
          padding:6px 12px;
          font-size:12px;font-weight:bold;
          height:20px;line-height:20px;
          color:#333;
          @include transition(all ease-in .2s);
          &:hover{
            color:#f60;
            @include border-radius(3px);
            background-color:rgba(#f60, 0.04); 
          }

          &.category{
            font-weight:normal;
          }
        }
      }
    }

    .page-header{
      background-color:#ececec;
      border-right:solid 1px #bdbdbd;
      border-bottom:solid 1px #bdbdbd;
      height:40px;line-height:40px;
      margin-left:240px;
      position:fixed;
      z-index:10;
      
      .settings{
        position:absolute;
        height:50px;border-right:solid 1px #222;
        background-color:#444;
        border-bottom:solid 1px #222;
        left:0;top:0;
        z-index:10;
        overflow:hidden;
        
        .setting{
          color:#fff;
          display:block;
          height:50px;padding-left:15px;
          @include transition(background-color ease-out .2s);
          &:hover{
            text-decoration:none;
            //background-color:rgba(#5C95DB, 0.3);
            //background-color:rgba(#45D732, 0.3);
            background-color:rgba(white, 0.3);
          };
        }
        
        ul.items{
          opacity:0;
          @include transition(opacity ease-out .2s);
          li{
            height:40px;line-height:40px;
            a{color:white;&:hover{color:white;text-decoration:none;}
              display:block;padding-left:15px;
              @include transition(background-color ease-out .2s);
              &:hover{background-color:rgba(white, 0.4);border-left:solid 3px white;padding-left:12px;}
            };
          }
        }
        
        @include transition(all ease-out .2s);
        &.open{
          width:200px;height:175px;
          @include border-radius(0 0 5px 0);
          background-color:#000;
          opacity:0.9;
          .setting{color:#999;}
          ul.items{
            opacity:1;
          }
        }
      }
      
      .user{
        overflow:hidden;
        float:right;margin-right:20px;
        .current-user{
          float:left;
          margin-right:12px;
          overflow:hidden;
        }
        a.logout{
          float:left;
          border:solid 1px #ADADAD;
          @include border-radius(3px);
          @include gradient(#FFFFFF, #F3F3F3);
          width:30px;height:24px;
          font-size:0;line-height:30em;
          margin-top:7px;
          overflow:hidden;
          position:relative;

          &:before{
            content:"";
            position:absolute;
            width:8px;height:8px;
            border:solid 2px #333;
            @include border-radius(10px);
            top:6px;left:9px;
          }
          &:after{
            content:"";
            position:absolute;
            width:2px;
            background-color:#333;
            border:solid 2px #FEFEFE;
            @include border-radius(10px);
            top:3px;left:12px;
            height:8px;
          }

          &:hover{
            @include gradient(#F7F7F7, #F3F3F3);
            &:before{border-color:#5080D8;}
            &:after{background-color:#5080D8;}
          }
        }
      }
    }
    
    .page-content{
      margin-left:240px;
      padding-top:41px;
      background-color:#f8f8f8;
      //border-bottom:dashed 1px #bdbdbd;
      position:relative;
      &:before{
        content:"";
        position:absolute;
        width:1px;
        background-color:#bdbdbd;
        top:0;right:0;bottom:0;
        pointer-events:none;
      }
      &:after{
        content:"";
        position:absolute;
        height:0px;
        left:0;right:0;bottom:0;
        border-bottom:dashed 1px #bdbdbd;
        pointer-events:none;
      }
    }
  }
}