form{
  .field{
    margin-bottom:10px;
    overflow:visible;
    &:last-child{margin-bottom:0;}
    
    label{
      display:block;line-height:20px;height:20px;margin-bottom:5px;
      &.need{
        &::after{
          content:"";
          display:inline-block;width:5px;height:5px;@include border-radius(5px);
          background-color:lighten(red, 20%);
          margin-left:5px;position:relative;top:-2px;
        };
      }
    }
    input[type=text], input[type=password]{
      border:solid #bbb 1px;
      @include border-radius(2px);
      box-shadow:0 1px 2px rgba(0, 0, 0, 0.1) inset;
      font-size:12px;line-height:30px;padding:0 4px;
      width:200px;height:30px;
      &:focus{
        box-shadow:0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
        border:solid 1px rgba(82, 168, 236, 0.8);
      }
    }
    textarea{
      border:solid #bbb 1px;
      @include border-radius(2px);
      box-shadow:0 1px 2px rgba(0, 0, 0, 0.1) inset;
      font-size:12px;line-height:20px;padding:4px;
      width:300px;height:100px;
      &:focus{
        box-shadow:0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
        border:solid 1px rgba(82, 168, 236, 0.8);
      }
    }
  }
  
  .form-submit-button{
    @include gradient(#DD4B39, #C53727);
    border:1px solid #B0281A;
    @include border-radius(2px);
    display:inline-block;
    height:32px;line-height:32px;
    padding:0 10px;
    font-size:14px;
    color:white;&:hover{color:white;text-decoration:none;};
    box-shadow:0px 0px 2px rgba(black, 0.3);
    text-shadow:-1px -1px 0 rgba(black, 0.2);
    margin-right:5px;
    &:hover{
      @include gradient(#DB3F2C, #B83324);
      border-color:#952216;
    }
    
    &.disabled{
      @include gradient(#fbfbfb, #f4f4f4);
      border:solid 1px #ccc;
      box-shadow:none;
      text-shadow:none;
      color:#cacaca;
    }
  }
  
  .form-cancel{
    @include gradient(#888, #666);
    border:1px solid #555;
    @include border-radius(2px);
    display:inline-block;
    height:32px;line-height:32px;
    padding:0 10px;
    font-size:14px;
    color:white;&:hover{color:white;text-decoration:none;};
    box-shadow:0px 0px 2px rgba(black, 0.3);
    text-shadow:-1px -1px 0 rgba(black, 0.2);
    &:hover{
      @include gradient(#777, #555);
      border-color:#444;
    }
  }
}