-htitle '提问'
  
.page-title 提问
  
.page-new-question
  = flash.now[:error]
  
  = form_for @question, :url => { :action => "create" } do |f|
    .field
      %label.need 标题
      = f.text_field :title
      
    .field
      %label.need 问题描述
      %textarea{:name=>'question[content]'}
      
    .field
      %a.form-submit-button{:href=>'javascript:;'} 确定提问
      %a.form-cancel{:href=>'/questions'} 取消返回
    
