body{
  .page-topbar{
    position:fixed;
    left:0px;right:0px;top:0px;
    height:50px;
    background-color:#444;
    padding-left:230px;
    z-index:10;

    .current-user{
      float:right;

      .avatar{
        float:left;
        margin-top:13px;
        margin-right:10px;
      }
      .name{
        float:left;
        height:24px;line-height:24px;
        color:white;
        margin-right:14px;
        margin-top:13px;
      }

      a.setting{
        float:left;
        margin-right:10px;
        height:24px;line-height:24px;
        margin-top:13px;
      }
      a.logout{
        float:left;
        margin-right:20px;
        height:24px;line-height:24px;
        margin-top:13px;
      }

      a{
        color:white;
        &:hover{
          color:lighten(#205f82, 50%);
        }
      }
    }
  }
  .page-content{
    margin-top:106px;
    margin-left:230px;
    margin-bottom:40px;
  }
}


// 11月15日，列表统一布局
.page-fixed-head{
  position:fixed;
  right:0;top:106px;
  left:230px;
  z-index:8;
  
  background:#f2f2f2;
  box-shadow:0 1px #FBFBFB inset;
  border-left:solid 1px #b1b1b1;
  border-bottom:solid 1px #DADDE0;
  height:63px; // 32 + 15 + 15
  @include floatfix;

  .buttons{
    @include floatfix;
    float:left;
    padding:15px;
    
    &>a.button{
      @include mini-button;
      margin-right:15px;
      &:last-child{
        margin-right:0;
      }
    }
    a.page-float-box-link{
      @include mini-button;
      margin-right:15px;
      &:last-child{
        margin-right:0;
      }
    }

    .page-upload-button{
      float:left;
      margin-right:15px;
      &:last-child{
        margin-right:0;
      }
    }
  }

  .filters{
    @include floatfix;
    float:left;
    padding:15px;
    padding-left:16px;
    //border-left:solid 1px #DADDE0;
    //box-shadow:1px 0 0 #FBFBFB inset;

    a.filter{
      float:left;
      height:30px;line-height:30px;
      border:solid 1px rgba(black, 0.3);
      @include gradient(#F7F7F7, #E2E2E2);
      text-shadow:1px 1px rgba(white, 0.6);
      box-shadow:0 1px 0 white inset;

      color:#555;
      text-align:center;
      margin-right:1px;
      padding:0 15px;

      &:first-child{
        @include border-radius(3px 0 0 3px);
      }
      &:last-child{
        @include border-radius(0 3px 3px 0);
      }
      &.current{
        @include gradient(#BFBFBF, #848484);
        box-shadow:0 1px 1px #9E9E9E inset;
        color:#FFFDFB;
        text-shadow:-1px -1px rgba(black, 0.3);
        &:hover{
          @include gradient(#BFBFBF, #848484);
        }
      }
      &:hover{
        @include gradient(#FAFAFA, #fafafa);
      }
    }
  }
}

.page-unfixed-head{
  @extend .page-fixed-head;
  position:static;
  left:auto;top:auto;right:auto;
  width:auto;
}

@mixin cell-cols{
  &.col_1{width:40px;overflow:hidden;}
  &.col_2{width:80px;overflow:hidden;}
  &.col_3{width:120px;overflow:hidden;}
  &.col_4{width:160px;overflow:hidden;}
  &.col_5{width:200px;overflow:hidden;}
  &.col_6{width:240px;overflow:hidden;}
  &.col_7{width:280px;overflow:hidden;}
  &.col_8{width:320px;overflow:hidden;}
  &.col_9{width:360px;overflow:hidden;}
  &.col_10{width:400px;overflow:hidden;}
}

.page-list-head{
  position:fixed;
  left:230px;right:0;top:170px;
  z-index:8;
  
  background: #fff;
  border-left:solid 1px #b1b1b1;
  border-bottom:solid 1px #CACDD4;

  &.no-headtop{
    .cells{
      border-top:none;
    }
  }

  &.no-fixed-head{
    top:106px;
  }

  .headtop{
    @include floatfix;
    .buttons{
      float:left;
      padding:15px;
      a.button{
        @include mini-button-black;
        height:22px;line-height:22px;
        font-size:12px;
      }
    }
    .paginate-info{
      @include floatfix;
      float:right;
      //width:720px;
      .desc{
        float:left;
        padding:15px;
        height:24px;line-height:24px;
        font-size:12px;
        span.count{
          font-weight:bold;
          color:#3E78FD;
        }
      }
      .pagination{
        float:left;
        padding:15px;
        padding-left:0;
        font-size:12px !important;
      }
    }
  }

  .cells{
    @include floatfix;
    background-color:#f2f2f2;
    border-top:white solid 1px;
    position:relative;
    border-top:solid 1px #DADDE0;

    .cell{
      float:left;
      padding:7px 15px;
      height:24px;line-height:24px;
      //margin-top:-1px;

      border-top:white solid 1px;
      border-left:white solid 1px;
      border-right:#DADDE0 solid 1px;
      background-color:#f2f2f2;
      //box-shadow:0 0 5px rgba(#666, 0.1) inset;
      font-weight:bold;
      
      &, a{
        color:#666;
        text-shadow:1px 1px rgba(white, 0.6);
      }


      .pie-j-checkbox{
        padding:3px 0;
      }

      a.sortable{
        display:block;
        padding:10px 15px 10px 30px;
        margin:-10px -15px;
        position:relative;

        &:hover{
          background-color:#fafafa;
        }


        &:before{
          content:"";
          display:block;width:0;height:0;
          border-top:solid 5px transparent;
          border-left:solid 5px transparent;
          border-right:solid 5px transparent;
          border-bottom:solid 5px #bbb;
          position:absolute;
          top:12px;left:9px;
        }

        &:after{
          content:"";
          display:block;width:0;height:0;
          border-top:solid 5px #bbb;
          border-left:solid 5px transparent;
          border-right:solid 5px transparent;
          border-bottom:solid 5px transparent;
          position:absolute;
          top:24px;left:9px;
        }

        &.asc{
          color:#222;
          &:before{border-bottom:solid 5px red;}
        }

        &.desc{
          color:#222;
          &:after{border-top:solid 5px red;}
        }
      }

      @include cell-cols;
    }
  }
}

.page-model-list{
  margin-top:265px;
  background-color:#f7f7f7;
  border-left:solid 1px #b1b1b1;
  border-bottom:solid 1px #b1b1b1;

  &.no-headtop{
    margin-top:210px;
  }

  &.no-fixed-head{
    margin-top:201px;
  }

  .blank{
    padding:15px;
    height:24px;line-height:24px;
    color:#999;
  }

  .cells{
    @include floatfix;
    position:relative;
    border-bottom:solid 1px #fff;

    &:nth-child(2n-1){
      // background-color:#FEF3D1;
      background-color:#FEF7DF;
      // .cell:nth-child(2n-1){
      //   background-color:#FFEEBB;
      // }
    }
    &:nth-child(2n){
      // background-color:#FFF8E5;
      background-color:#FFFAED;
      // .cell:nth-child(2n-1){
      //   background-color:#FFF5D7;
      // }
    }
    .cell a{
      color:#06B;
      &:hover{
        color:#39e;
        text-decoration:underline;
      }
    }

    // &:nth-child(2n-1){
    //   background-color:#DEE2F0;
    //   .cell:nth-child(2n-1){
    //     background-color:#CFD6EA;
    //   }
    // }
    // &:nth-child(2n){
    //   background-color:#EDF0F7;
    //   .cell:nth-child(2n-1){
    //     background-color:#E3E7F3;
    //   }
    // }

    .cell{
      color:#444;
      float:left;
      padding:10px 15px;
      height:24px;line-height:24px;
      border-left:solid 1px #fff;
      border-right:solid 1px #fff;

      white-space:nowrap; 

      font-size:13px;

      @include cell-cols;

      .pie-j-checkbox{
        padding:3px 0;
      }

      .page-avatar-img.mini{
        margin-right:7px;
      }
    }
  }
}

.page-model-show{
  border-left:solid 1px #b1b1b1;
  border-bottom:solid 1px #b1b1b1;
  padding:15px;
  background-color:#fff;
}

.page-model-form{
  @extend .page-model-show;
}

.page-field{
  width:720px;

  &>.field-title{
    height:29px;line-height:29px;
    border-top:solid 1px #e2e2e2;
    background-color:#F2F2F2;
    padding:0 10px;
    font-weight:bold;
    margin-top:30px;
    color:#666;
  }
  &:first-child>.field-title{
    margin-top:0;
  }

  .field-data{
    @include floatfix;
  }
}

.semester-filters{
  width:718px;
  height:32px;
  @include gradient(#FDFDFD, #F9F9F9);
  border:solid 1px #EDEDED;
  border-bottom:solid 1px #DCDCDC;
  margin-top:30px;
  @include floatfix;

  a.semester{
    float:left;
    height:32px;line-height:32px;
    padding:0 10px;
    &:hover{
      text-decoration:underline;
    }
    &.current{
      color:#333;
      font-weight:bold;
      background-color:#fff;
      border:solid 1px #DCDCDC;
      border-bottom:solid 1px #fff;
      margin:-1px 0 0 -1px;
    }
  }
}

// 临时先写在这里

.page-admin-teacher{
  .base-info{
    position:relative;
    &:after{
      content:"";
      position:absolute;
      width:1px;
      top:45px;bottom:15px;
      left:126px;
      background-color:#EFEFEF;
    }

    .base{
      float:left;
      margin:15px;

      .avatar{
        margin-bottom:15px;
        width:96px;height:96px;
      }
      .name{
        font-size:16px;
        margin-bottom:5px;
      }
      .tid{
        font-size:12px;
        color:#999;
      }
    }

    .detail{
      margin-left:126px;
      padding:15px;
      
      .f{
        line-height:24px;
        height:24px;
        @include floatfix;
        .k{
          width:100px;
          text-align:right;
          float:left;
          color:#999;
        }
        .v{
          float:left;
        }
      }
    }
  }
  .desc{}
  .courses{
    .course{
      border:solid 1px #EDEDED;
      margin-top:15px;

      .course-info{
        border-bottom:solid 1px #ededed;
        background-color:#F9F9F9;
        height:24px;line-height:24px;
        padding:4px 4px 4px 10px;
        @include floatfix;

        .name{
          float:left;
        }
        .ops{
          float:right;
          a{
            @include mini-button-blue;
            height:22px;line-height:22px;
            padding:0 7px;
            font-size:12px !important;
          }
        }
      }

      .students-brief{display:block;}
      .students-detail{display:none;}

      &.opened{
        .students-brief{display:none;}
        .students-detail{display:block;}
      }

      .students-brief{
        @include floatfix;
        padding:10px;

        .student{
          float:left;
          width:32px;height:32px;
          margin-right:10px;
        }

        .desc{
          float:left;
          height:32px;line-height:32px;
        }

        a.open{
          @include mini-button-gray;
          float:right;
          height:22px;line-height:22px;
          padding:0 7px;
          font-size:12px !important;
          margin-top:4px;
        }
      }

      .students-detail{
        .h{
          @include floatfix;
          padding:10px;
          border-bottom:solid 1px #ededed;
          .desc{
            float:left;
            height:32px;line-height:32px;
          }
          a.close{
            @include mini-button-gray;
            float:right;
            height:22px;line-height:22px;
            padding:0 7px;
            font-size:12px !important;
            margin-top:4px;
          }
        }

        .students{
          @include floatfix;
          padding:5px 0 0 5px;
          .student{
            @include floatfix;
            float:left;
            border:solid 1px #ededed;
            background-color:#F9F9F9;
            height:42px;line-height:42px;
            width:110px;
            margin:0 5px 5px 0;
            .avatar{float:left;margin:5px;}
            .name{margin-left:37px;}
          }
        }
      }
    }
  }
}