body{
  .page-topbar{
    position:fixed;
    left:0px;right:0px;top:0px;
    height:50px;
    background-color:#555;
    padding-left:230px;
    z-index:10;

    .current-user{
      float:right;

      .avatar{
        float:left;
        margin-top:13px;
        margin-right:10px;
      }
      .name{
        float:left;
        height:24px;line-height:24px;
        color:white;
        margin-right:14px;
        margin-top:13px;
      }

      a.setting{
        float:left;
        margin-right:10px;
        height:24px;line-height:24px;
        margin-top:13px;
      }
      a.logout{
        float:left;
        margin-right:20px;
        height:24px;line-height:24px;
        margin-top:13px;
      }

      a{
        color:white;
        &:hover{
          color:lighten(#205f82, 50%);
        }
      }
    }
  }
  .page-content{
    margin-top:50px;
    margin-left:230px;
    padding:20px 0;
    margin-bottom:40px;
  }
}


// 11月15日，列表统一布局
.page-fixed-head{
  position:fixed;
  right:0;top:50px;
  left:230px;
  z-index:8;
  
  background:#fff;
  border-left:solid 1px #b1b1b1;
  border-bottom:solid 1px #b1b1b1;
  height:62px; // 32 + 15 + 15
  @include floatfix;

  .buttons{
    @include floatfix;
    float:left;
    padding:15px;
    a.button{
      @include mini-button;
      margin-right:15px;
    }
  }

  .filters{
    @include floatfix;
    float:left;
    padding:15px;
    a.filter{
      float:left;
      height:30px;line-height:30px;
      border:solid 1px #1156BD;
      //background-color:#206DE1;
      @include gradient(#307DF1, #206DE1);

      color:white;
      text-align:center;
      margin-right:1px;
      padding:0 15px;

      &:first-child{
        @include border-radius(3px 0 0 3px);
      }
      &:last-child{
        @include border-radius(0 3px 3px 0);
      }
      &.current{
        @include gradient(#60aDF1, #509DF1);
        border:solid 1px lighten(#1156BD, 10%);
      }
    }
  }
}

@mixin cell-cols{
  &.col_1{width:40px;overflow:hidden;}
  &.col_2{width:80px;overflow:hidden;}
  &.col_3{width:120px;overflow:hidden;}
  &.col_4{width:160px;overflow:hidden;}
  &.col_5{width:200px;overflow:hidden;}
  &.col_6{width:240px;overflow:hidden;}
  &.col_7{width:280px;overflow:hidden;}
  &.col_8{width:320px;overflow:hidden;}
  &.col_9{width:360px;overflow:hidden;}
  &.col_10{width:400px;overflow:hidden;}
}

.page-list-head{
  position:fixed;
  left: 230px;right:0;top:113px;
  z-index:8;
  
  background: #F2F2F2;
  border-left:solid 1px #b1b1b1;
  border-bottom:solid 1px #b1b1b1;

  .headtop{
    @include floatfix;
    .buttons{
      float:left;
      padding:15px;
      a.button{
        @include mini-button-black;
        height:22px;line-height:22px;
        font-size:12px;
      }
    }
    .paginate-info{
      @include floatfix;
      float:right;
      //width:720px;
      .desc{
        float:left;
        padding:15px;
        height:24px;line-height:24px;
        font-size:12px;
        span.count{
          font-weight:bold;
          color:#3E78FD;
        }
      }
      .pagination{
        float:left;
        padding:15px;
        padding-left:0;
        font-size:12px !important;
      }
    }
  }

  .cells{
    @include floatfix;
    @include gradient(#efefef, #fafafa);
    border-top:white solid 1px;
    position:relative;

    .cell{
      float:left;
      padding:7px 15px;
      height:24px;line-height:24px;
      margin-top:-1px;

      border-top:white solid 1px;
      border-left:white solid 1px;
      border-right:#ccc solid 1px;
      @include gradient(#efefef, #fafafa);
      //box-shadow:0 0 5px rgba(#666, 0.1) inset;
      font-weight:bold;

      .pie-j-checkbox{
        padding:3px 0;
      }

      a.sortable{
        display:block;
        padding:10px 15px 10px 30px;
        margin:-10px -15px;
        color:#222;
        position:relative;

        &:hover{
          background-color:rgba(#3E78FD, 0.1);
        }


        &:before{
          content:"";
          display:block;width:0;height:0;
          border-top:solid 5px transparent;
          border-left:solid 5px transparent;
          border-right:solid 5px transparent;
          border-bottom:solid 5px #bbb;
          position:absolute;
          top:12px;left:9px;
        }

        &:after{
          content:"";
          display:block;width:0;height:0;
          border-top:solid 5px #bbb;
          border-left:solid 5px transparent;
          border-right:solid 5px transparent;
          border-bottom:solid 5px transparent;
          position:absolute;
          top:24px;left:9px;
        }

        &.asc{
          &:before{border-bottom:solid 5px #444;}
        }

        &.desc{
          &:after{border-top:solid 5px #444;}
        }
      }

      @include cell-cols;
    }
  }
}

.page-model-list{
  margin-top:137px;
  background-color:#f7f7f7;
  border-left:solid 1px #b1b1b1;
  border-bottom:solid 1px #b1b1b1;

  .blank{
    padding:15px;
    height:24px;line-height:24px;
    color:#999;
  }

  .cells{
    @include floatfix;
    position:relative;

    &:nth-child(2n-1){
      background-color:#FEF3D1;
      .cell:nth-child(2n-1){
        background-color:#FFEEBB;
      }
    }
    &:nth-child(2n){
      background-color:#FFF8E5;
      .cell:nth-child(2n-1){
        background-color:#FFF5D7;
      }
    }
    .cell a{
      //color:#06B;
      &:hover{
        color:#39e;
        text-decoration:underline;
      }
    }

    // &:nth-child(2n-1){
    //   background-color:#DEE2F0;
    //   .cell:nth-child(2n-1){
    //     background-color:#CFD6EA;
    //   }
    // }
    // &:nth-child(2n){
    //   background-color:#EDF0F7;
    //   .cell:nth-child(2n-1){
    //     background-color:#E3E7F3;
    //   }
    // }

    .cell{
      float:left;
      padding:10px 15px;
      padding-left:16px;
      height:24px;line-height:24px;

      border-bottom:solid 1px #fff;
      //border-left:solid 1px rgba(black, 0);
      border-right:solid 1px #fff;

      white-space:nowrap; 

      font-size:12px;

      @include cell-cols;

      .pie-j-checkbox{
        padding:3px 0;
      }
    }
  }
}