:css
  .top {
    float: left;
    width: 100%;
  }

  .sidebar {
    float: left;
    width: 120px;
  }

  .preview {
    float: left;
    width: 500px;
  }

.page-model-show
  .top
    .title= "Title"
    .desc= "Description"

  .sidebar
    .label="章节选项"
    %p="类与变量"
    %p="方法定义"
    %p="循环与判断"

  .preview
    .label="课件在线预览"


