.contribution
  .days
    - i = 0
    - 1.upto(51) do |week|
      .week
        - 1.upto(7) do |day|
          - contribution = DemoModel::TEACHER_DATA[i].score
          - i = i + 1
          .day{:class=>"lv#{contribution}"}
