- questions = ["java如不想么每次都判空 if(o !=null) 怎么做？","Java里ClassName.this和this有什么不一样","关于电梯算法","插值查找的问题"]

= page_field :'questions-info', :title=>'问答' do
  - get_dashboard_arr(questions).each do |question|
    - if !question.blank?
      .question
        .title= link_to truncate_u(question), "#"
    - else
      .question.blank