- @course_surveys.each do |course_survey|
  .model.course_survey
    .tite= course_survey.title

    .ops
      - remove_url = admin_course_survey_path(course_survey)
      %a.remove{:href=>'javascript:;', :'data-url'=>remove_url} 删除
      %a.detail{:href=>"/admin/course_surveys/#{course_survey.id}"} 查看详情
