- htitle '课程维护'

- hbreadcrumb '基础数据管理', '/admin'
- hbreadcrumb '课程调查'

.generic-page-head.admin-course-surveys
  .btns
    .page-tabs
      %a.tab{:href=>"/admin/course_surveys"} 所有
      %a.tab{:href=>"/admin/course_surveys?kind=1"} 调查1
      %a.tab{:href=>"/admin/course_surveys?kind=2"} 调查2

    %a.generic-new.create{:href=>'/admin/course_surveys/new'} 增加课程

  = list_pagination(@course_surveys)

  .cells
    .cell.ops 操作
    .cell.title= sortable 'title', '标题'

.generic-body-list.admin-course-surveys
  - if @course_surveys.blank?
    .blank
      目前列表内没有内容
  - else
    - @course_surveys.each do |course_survey|
      .generic-model
        .cell.ops
          - remove_url = admin_course_survey_path(course_survey)
          %a.remove{:href=>'javascript:;', :'data-url'=>remove_url} 删除
          %a.detail{:href=>"/admin/course_surveys/#{course_survey.id}"} 查看详情
        .cell.title
          = course_survey.title
