- htitle '课程维护'

- hbreadcrumb '基础数据管理', '/admin'
- hbreadcrumb '课程调查', '/admin/course_surveys'
- hbreadcrumb '增加课程调查'

.page-admin-form
  = flash_info
  = form_for [:admin, CourseSurvey.new] do |f|
 
    .field.need
      %label 标题
      =f.text_field :title


    .field.need
      %label 调查类型
      =f.radio_button :kind, '1'
      %span  课程调查1

      =f.radio_button :kind, '2'
      %span  课程调查2
     

    .field
      = jfsubmit '确定'
      = jfcancel '取消'