- htitle '课程维护'

- hgoback admin_mentor_notes_path
- hbreadcrumb '首页', '/admin'
- hbreadcrumb '导师', admin_mentor_courses_path
- hbreadcrumb '导师双向选择', admin_mentor_notes_path
- hbreadcrumb '增加导师选择'


.page-model-form
  = flash_info
  = form_for [:admin, MentorNote.new] do |f|

    .field.need
      %label 标题
      =f.text_field :title
 

    .field
      = jfsubmit '确定'
      = jfcancel '取消'