- hgoback '/courses'
- hbreadcrumb '首页', '/'
- hbreadcrumb 'Java程序设计', 'javascript:;'
- hbreadcrumb '教学方案'


:css
  .a {
    float: left;
    width: 100px;
    height: 20px;
    background-color:green;
    display: block;
    margin-left: 2px;
  }

  .b {
    float: left;
    width: 100px;
    height: 20px;
    background-color:green;
    display: block;
    margin-left: 2px;
  }


.page-model-show
  .page-teaching-plan-show
    .head
      %h1.title 类与变量
      .description
        全局变量怎么声明了

    .chapters
      .chs
        .chapter
          .title 第一作业
          .desc 作业描述
          .ops
            .count= '3项作业要求'

          .items
            .a
            .a
            .b

          .status
            正在进行

          
        .chapter
          .title 第二作业
          .desc 作业描述
          .ops
            .count= '4项作业要求'

          .items
            .a
            .a
            .b
            .b

          .status
            正在进行


        .chapter
          .title 第三作业
          .desc 作业描述
          .ops
            .count= '4项作业要求'

          .items
            .a
            .a
            .b
            .b

          .status
            通过老师验收
          
      