- hbreadcrumb '首页', '/'
- hbreadcrumb '成绩单'

.page-course-scores-lists.page-admin-models
  - if current_user.is_teacher?
    = link_to '添加课程成绩单', new_course_score_list_path

  - if !@score_lists.blank?
    - @score_lists.each do |score_list|
      .score-list.model
        .title= score_list.title
        .ops
          = link_to '详细情况', score_list, :class => 'edit'