@mixin mini-button{
  float:left;

  height:22px;line-height:22px;
  border:solid 1px #d4d4d4;
  
  @include border-radius(3px);
  @include gradient(#f4f4f4, #ececec);
  
  color:#444;
  text-shadow:1px 1px 0 #FFFFFF;
  padding:0 8px;
  font-size:12px;
  
  &:hover{text-decoration:none;
    @include gradient(#599bdc, #3072b3);
    border-color:#518cc6 #518cc6 #2a65a0;
    text-shadow:-1px -1px 0 rgba(black, 0.3);
    color:white;
  };
}

@mixin mini-button-close{
  @include mini-button;
  @include gradient(#666, #444);
  color:white;
  text-shadow:-1px -1px 0 rgba(black, 0.3);
  border-color:#444 #444 #333;

  &:hover{text-decoration:none;
    @include gradient(#555, #333);
    border-color:#333 #333 #222;
  };
}