:ruby
  has_started = ServerManagement.start?(server_name)
  pid       = ServerManagement.pid_count(server_name) if has_started

  status_klass = has_started ? 'up' : 'down'
  status_text  = has_started ? "正在运行 pid:#{pid}" : '已关闭'

  stop_path  = operate_server_path(:operate=>'stop', :server=>server_name)
  start_path = operate_server_path(:operate=>'start', :server=>server_name)

  resque_url = "http://#{request.host}:8282/overview"

.item
  .status-icon{:class=>status_klass}

  .meta
    .name=server_name
    .status-text=status_text

  -if has_started
    .ops
      -case server_name
        -when 'resque_web_service'
          =link_to '管理', resque_url, :target=>'_blank'

      =link_to '停止进程', stop_path, :method=>:post
  -else
    .ops
      =link_to '启动进程', start_path, :method=>:post