- htitle '资源分类维护'

- hgoback admin_categories_path
- hbreadcrumb '首页', '/admin'
- hbreadcrumb '资源分类', admin_categories_path
- hbreadcrumb '批量导入资源分类数据'

.page-model-form
  .page-admin-form-info
    .desc 请先下载 YAML 示例文件，按照给定格式填充数据，然后上传导入
    %a.download{:href=>'/yaml_demo/categories.yaml'} 下载示例文件

  = flash_info
  = form_tag "/admin/categories/import_from_yaml",:method=>:post,:multipart => true do
    .field
      %label 选择 YAML 文件
      = file_field_tag :yaml_file
    .field
      =jfsubmit '确定导入'
