- htitle '资源分类维护'

- hbreadcrumb '基础数据管理', '/admin'
- hbreadcrumb '资源分类维护'

.page-admin-ops
  %a.create{:href=>'/admin/categories/new'} 增加资源分类

.page-admin-categories
  = render 'categories_list', :categories => @level1_categories