.page-title 创建数据分类

.page-admin-form
  =flash[:error]
  =form_for [:admin,@category] do |f|
    .field
      %label 分类名称
      =f.text_field :name
      =hidden_field_tag :parent_id, params[:parent_id]
    .field
      %a.form-submit-button{:href=>'javascript:;'} 确定创建
