:ruby
  commits = [
    "学习ing",
    "很基础的内容",
    "不错~~~"]
  user_names = ["洋气书生", "Squall", "Liber"]
  user_logos = [
    "http://tp2.sinaimg.cn/1418521581/50/5639678895/1",
    "http://tp1.sinaimg.cn/2831168420/50/40012243755/1",
    "http://tp2.sinaimg.cn/2972020301/50/40003901214/0"
  ]
  times = [
    Time.now - 1.day - 23.minute,
    Time.now - 1.day - 3.hour - 12.minute,
    Time.now - 1.day - 4.hour - 56.minute,
  ]

 
- 0.upto(2) do |i|
  :ruby
    comment_content = commits[i]
    created_at = times[i]
    user_name = user_names[i]
    user_logo = user_logos[i]

  .comment
    .avatar
      %img.page-avatar-img.tiny{:src=>user_logo}
    .cmain
      .cdata
        .meta
          .name.quiet
            = link_to user_name,"javascript:;"
          .ops
            = link_to '回复', 'javascript:;', :class=>'reply'
        .ctext.wordwrap>
          = html_escape(comment_content).gsub(/\n/, '<br />').html_safe
          %span.time> (#{jtime created_at})