-#use 重设密码邮件模板

-name                = @user.name
-reset_password_code = @user.reset_password_code
-url                 = pin_url_for('pin-user-auth',"/account/reset_password/#{reset_password_code}")

%div
  %b>=name
  %span> ，你好！

%p 此邮件将帮助你重新设置在MINDPIN网站的用户密码。

%p 请点击下面的链接，输入你的新密码：(单击此链接 或 复制链接地址到您的浏览器中访问)

%p
  %a{:href=>url, :target=>'_blank'}=url

=render 'footer'