- htitle '填写志愿'



- hgoback '/mentor_students'
- hbreadcrumb '首页', '/'
- hbreadcrumb '导师双向选择', '/mentor_students'
- hbreadcrumb '填写志愿'


.page-model-form
  = flash_info
  = form_for MentorStudent.new, :url => "/mentor_students?mentor_note_id=#{params[:mentor_note_id]}" do |f|


    =render 'form', :f => f