-htitle '消息对话'

.page-title 消息对话

.page-short-messages.exchanged
  -if @exchanged_messages.blank?
    .blank 还没有任何消息
  -else
    -split_messages_group(@exchanged_messages).each do |group|
      :ruby
        i_am_sender   = (current_user == group.sender)
        
        if i_am_sender
          klass = 'to'
        else
          klass = 'from'
        end
    
      .list-group{:class=>klass}
        .g-sender-avatar
          =avatar group.sender
        .g-messages
          -group.messages.each do |message|
            :ruby
              created_at = message.created_at.localtime
              content = message.content
              
            .message
              .ct
                -if i_am_sender
                  %span.user 我 :
                -else
                  %span.user #{userlink message.sender} :  
                %span.text=content
                
              .time=created_at
              .ops
                =link_to '删除', message, :confirm => '确认删除短消息？', :method => :delete, :class => 'delete'
        
        

          

