= render '/admin/search/parts/search_tab', :all_count => @all_count, :teachers_count => @teachers_count, :students_count => @students_count, :courses_count => @courses_count, :teams_count => @teams_count

- @teachers.each do |teacher|
  = teacher.real_name

.page-paginate= will_paginate @teachers