@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

@mixin base-font-family{
  //font-family:Tahoma, Arial, Helvetica, STHeiti, sans-serif;
  font-family:'Open Sans', Tahoma, Arial, Helvetica, STHeiti, sans-serif;
}

@mixin form-font-family{
  @include base-font-family;
}

@mixin number-font-family{
  //font-family:helvetica,'Helvetica Neue',arial,"liberation sans",freesans,sans-serif;
  font-family:Arial, Liberation Sans, DejaVu Sans, sans-serif;
}

@mixin numfont{
  @include number-font-family;
}

@mixin allimg($x, $y){
  $xx : 0px - $x;
  $yy : 0px - $y;
  background:url(allimg.png) no-repeat $xx $yy;
}

// ----------------- 常用的函数

@mixin gradient($from, $to){
  background : -moz-linear-gradient(-90deg,$from,$to);
  background : -webkit-gradient(linear,0% 0,0% 100%,from($from),to($to));
}

@mixin border-radius($radius) {
     -moz-border-radius : $radius;
  -webkit-border-radius : $radius;
          border-radius : $radius;
}

@mixin transition($params){
     -moz-transition : $params;
  -webkit-transition : $params;
          transition : $params;
}

@mixin transform($params){
     -moz-transform : $params;
  -webkit-transform : $params;
          transform : $params;
}