.page-title 班级维护

.page-admin-ops
  %a.create{:href=>'teams/new'} 增加班级

.page-admin-models.teams
  -@teams.each do |team|
    :ruby
      teacher_name = team.teacher.blank? ? '未指定' : team.teacher.real_name
    .model.team
      .p
        .t 名称 
        .c=team.name
      .p
        .t 班级序号 
        .c=team.cid
      .p
        .t 教师
        .c=teacher_name
      .p.l3
        .t 其他描述 
        .c

      .detail=link_to "查看详情","/teams/#{team.id}"

  
