.comments
  -comments.each do |comment|
    :ruby
      creator = comment.creator
  
    .comment
      .c-avatar=avatar creator,:mini
      .c-name
        #{creator.name}：#{comment.content}
      
  .form
    =form_for Comment.new, :url=>"/questions/#{@question.id}/question_comments" do |f|
      .field
        =f.text_field :content
        %a.form-submit-button.hide{:href=>'javascript:;'} 确定