.page-title 学生维护

.page-admin-ops
  %a.create{:href=>'/admin/students/new'} 增加学生

.page-admin-models.students
  -@students.each do |student|
    .model.teacher
      .avatar
        =avatar User.new, :medium
      .p
        .t 学生姓名
        .c=student.real_name
      .p
        .t 学生编号 
        .c=student.sid
      .p.l3
        .t 其他信息 
        .c

      .detail=link_to "查看详情","/admin/students/#{student.id}"
      .remove=link_to '删除', admin_student_path(student), :method => :delete  

= will_paginate @students
