- htitle '学生维护'

- hbreadcrumb '基础数据管理', '/admin'
- hbreadcrumb '学生维护'

- content_for :topbar do
  = jsearchbar search_admin_students_path

.page-admin-ops
  %a.create{:href=>'/admin/students/new'} 增加学生

.page-admin-models.students
  = render 'student_list', :students => @students

.page-paginate= will_paginate @students
