.page-title 学生维护

= render 'admin/shared/search_field', :search_path => search_admin_students_path

.page-admin-ops
  %a.create{:href=>'/admin/students/new'} 增加学生

.page-admin-models.students
  = render 'student_list', :students => @students

= will_paginate @students
