.page-title 创建学生

.page-admin-form
  =flash[:error]
  =form_for [:admin,@student] do |t|
    .field
      %label 真实姓名
      =t.text_field :real_name
    .field
      %label 学生编号
      =t.text_field :sid
    .field
      %a.form-submit-button{:href=>'javascript:;'} 确定创建
