.block
  %label 教学态度

  .field
    %span 上下课
    =f.check_box :on_off_class
    %span 准时

  .field
    %span 考勤制度
    =f.check_box :checking_institution
    %span 每次点名

  .field
    %span 课堂秩序
    =f.check_box :class_order
    %span 能控制

  .field
    %span 备课情况
    =f.radio_button :prepare_situation, 'TOTAL_ENOUGH'
    %span 充分

    =f.radio_button :prepare_situation, 'GENERAL_ENOUGH'
    %span 较为充分

    =f.radio_button :prepare_situation, 'NOT_ENOUGH'
    %span 不够充分


  .field
    %span 教书育人
    =f.radio_button :teaching_level, 'GOOD'
    %span 好

    =f.radio_button :teaching_level, 'GENERAL'
    %span 一般



  .field
    %span 教师师德
    =f.radio_button :teacher_morality, 'GOOD'
    %span 好

    =f.radio_button :teacher_morality, 'BETTER'
    %span 较好


.block
  %label 教学内容


  .field
    %span 授课内容
    =f.radio_button :class_content, 'RICH_RELATION'
    %span 丰富扣题

    =f.radio_button :class_content, 'GENERAL_RELATION'
    %span 基本扣题


  .field
    %span 知识性
    =f.radio_button :knowledge_level, 'RICH'
    %span 强

    =f.radio_button :knowledge_level, 'RICHER'
    %span 较强


  .field
    %span 教学进度
    =f.radio_button :teaching_schedule, 'REASONABLE'
    %span 合理

    =f.radio_button :teaching_schedule, 'BASIC_REASONABLE'
    %span 基本合理

    =f.radio_button :teaching_schedule, 'NOT_REASONABLE'
    %span 不合理


.block
  %label 教学方式

  .field
    %span 教学互动
    =f.radio_button :teaching_interact, 'GOOD'
    %span 好

    =f.radio_button :teaching_interact, 'BETTER'
    %span 较好


  .field
    %span 板书质量
    =f.radio_button :board_writing_quality, 'GOOD'
    %span 工整

    =f.radio_button :board_writing_quality, 'GENERAL'
    %span 一般


  .field
    %span 课件
    =f.radio_button :has_courseware, 'YES'
    %span 有

    =f.radio_button :has_courseware, 'NO'
    %span 没有


  .field
    %span 课件质量
    =f.radio_button :courseware_quality, 'GOOD'
    %span 好

    =f.radio_button :courseware_quality, 'GENERAL'
    %span 一般



  .field
    %span 语言表达
    =f.radio_button :speak_level, 'GOOD'
    %span 思路清晰

    =f.radio_button :speak_level, 'GENERAL'
    %span 一般


.block
  %label 教学效果

  .field
    %span 学习收获
    =f.radio_button :study_result, 'MUCH'
    %span 大

    =f.radio_button :study_result, 'LITTLE'
    %span 一般

    =f.radio_button :study_result, 'NONE'
    %span 没有



  .field
    %span 授课效果
    =f.radio_button :teaching_result, 'GOOD'
    %span 好

    =f.radio_button :teaching_result, 'GENERAL'
    %span 一般

    =f.radio_button :teaching_result, 'BAD'
    %span 较差


  .field
    %span 原因分析
    =f.radio_button :result_reason, 'TEACHER_REASON'
    %span 教师原因

    =f.radio_button :result_reason, 'STUDENT_REASON'
    %span 学生主观原因

.block
  %label 建议和意见

  .field
    %label 建议和意见
    =f.text_area :suggestion

 

.field
  = jfsubmit '确定'
  = jfcancel '取消'