.block
  %label 教学态度

  .field
    %span 上下课听课
    =f.radio_button :on_off_class, 'A'
    %span 准时

    =f.radio_button :on_off_class, 'B'
    %span 基本准时

    =f.radio_button :on_off_class, 'C'
    %span 不准时



  .field
    %span 考勤制度
    =f.radio_button :checking_institution, 'A'
    %span 每次点名

    =f.radio_button :checking_institution, 'B'
    %span 有时点名

    =f.radio_button :checking_institution, 'C'
    %span 不点名



  .field
    %span 课堂秩序
    =f.radio_button :class_order, 'A'
    %span 能控制

    =f.radio_button :class_order, 'B'
    %span 基本控制

    =f.radio_button :class_order, 'C'
    %span 不能控制




  .field
    %span 备课情况
    =f.radio_button :prepare_situation, 'A'
    %span 充分

    =f.radio_button :prepare_situation, 'B'
    %span 较为充分

    =f.radio_button :prepare_situation, 'C'
    %span 不够充分


  .field
    %span 教书育人
    =f.radio_button :teaching_level, 'A'
    %span 好

    =f.radio_button :teaching_level, 'B'
    %span 一般


    =f.radio_button :teaching_level, 'C'
    %span 较差



  .field
    %span 教师师德
    =f.radio_button :teacher_morality, 'A'
    %span 好

    =f.radio_button :teacher_morality, 'B'
    %span 较好


    =f.radio_button :teacher_morality, 'C'
    %span 较差



.block
  %label 教学内容


  .field
    %span 授课内容
    =f.radio_button :class_content, 'A'
    %span 丰富扣题

    =f.radio_button :class_content, 'B'
    %span 基本扣题

    =f.radio_button :class_content, 'C'
    %span 不扣主题


  .field
    %span 知识性
    =f.radio_button :knowledge_level, 'A'
    %span 强

    =f.radio_button :knowledge_level, 'B'
    %span 较强

    =f.radio_button :knowledge_level, 'C'
    %span 较差


  .field
    %span 教学进度
    =f.radio_button :teaching_schedule, 'A'
    %span 合理

    =f.radio_button :teaching_schedule, 'B'
    %span 基本合理

    =f.radio_button :teaching_schedule, 'C'
    %span 不合理


.block
  %label 教学方式

  .field
    %span 教学互动
    =f.radio_button :teaching_interact, 'A'
    %span 好

    =f.radio_button :teaching_interact, 'B'
    %span 较好

    =f.radio_button :teaching_interact, 'C'
    %span 较差


  .field
    %span 板书质量
    =f.radio_button :board_writing_quality, 'A'
    %span 工整

    =f.radio_button :board_writing_quality, 'B'
    %span 一般

    =f.radio_button :board_writing_quality, 'C'
    %span 较差


  .field
    %span 课件
    =f.radio_button :has_courseware, 'A'
    %span 有

    =f.radio_button :has_courseware, 'B'
    %span 没有


  .field
    %span 课件质量
    =f.radio_button :courseware_quality, 'A'
    %span 好

    =f.radio_button :courseware_quality, 'B'
    %span 一般

    =f.radio_button :courseware_quality, 'C'
    %span 较差



  .field
    %span 语言表达
    =f.radio_button :speak_level, 'A'
    %span 思路清晰

    =f.radio_button :speak_level, 'B'
    %span 一般

    =f.radio_button :speak_level, 'C'
    %span 较差


.block
  %label 教学效果

  .field
    %span 学习收获
    =f.radio_button :study_result, 'A'
    %span 大

    =f.radio_button :study_result, 'B'
    %span 一般

    =f.radio_button :study_result, 'C'
    %span 没有



  .field
    %span 授课效果
    =f.radio_button :teaching_result, 'A'
    %span 好

    =f.radio_button :teaching_result, 'B'
    %span 一般

    =f.radio_button :teaching_result, 'C'
    %span 较差


  .field
    %span 原因分析
    =f.radio_button :result_reason, 'A'
    %span 教师原因

    =f.radio_button :result_reason, 'B'
    %span 课堂纪律原因

    =f.radio_button :result_reason, 'C'
    %span 学生主观原因

.block
  %label 建议和意见

  .field
    %label 建议和意见
    =f.text_area :suggestion, :class => 'kind-editor'

%input{:name => "kind", :type => "hidden", :value => "1"}/

.field
  = jfsubmit '确定'
  = jfcancel '取消'