- htitle '课程维护'

- hbreadcrumb '首页', '/'
- hbreadcrumb '课程调查', '/course_surveys'
- hbreadcrumb @course_survey_record.course_survey.title

.page-model-form
  = flash_info

  :ruby
    kind = params[:kind]
    case kind
    when '1'
      form = 'form_1'
    when '2'
      form = 'form_2'
    end

  = form_for @course_survey_record, :url => {:controller => 'course_survey_records', :action => 'update', :kind => kind} do |f|
 
    =render form, :f => f