- htitle '课程维护'

- hbreadcrumb '首页', '/'
- hbreadcrumb '课程调查', '/course_surveys'
- hbreadcrumb '增加课程调查'

.page-admin-form
  = flash_info
  :ruby
    case params[:kind]
    when '1'
      record = CourseSurveyRecord.new
      form = 'form_1'
    when '2'
      record = CourseSurveyEsRecord.new
      form = 'form_2'
    end

  = form_for record, :url => "/course_surveys/#{params[:course_survey_id]}/course_survey_records" do |f|
    
    =render form, :f => f