-htitle '创建投票'
  
.page-go-back
  =link_to '返回投票列表', '/votes'

.page-new-vote
  = flash.now[:error]
  
  = form_for @vote, :url => { :action => "create" }, :html => { :multipart => true } do |f|
    .field
      %label.need 投票描述
      = f.text_field :title
    
    .field
      %label.need 选项设置
      .item-list.min
        - 2.times do
          .item
            %input{:type=>'text', :size=>30, :name=>'vote[vote_items_attributes][][item_title]'}
            = f.hidden_field :kind, :value => 'IMAGE'
            %input{:type=>'file', :size=>30, :name=>'vote[vote_items_attributes][][image]'}
            %a.delete{:href=>'javascript:;'} 删除
            
      %a.add-new-item{:href=>'javascript:;'} 增加一项
      
    .field
      %label.need 单选，多选设置
      %select.limit{:name=>'vote[select_limit]'}
        %option{:value=>'1'} 单选
        %option{:value=>'2'} 最多选2项
        
    .field
      %a.form-submit-button{:href=>'javascript:;'} 发起
        
