:ruby
  home_url = pin_url_for('sns', 'media_files/mine')

  breadcrumb_categories = current_category.blank? ? [] : current_category.ancestors + [current_category]

.page-categories-breadcrumb-bar.mine
  .breadcrumb-categories
    %a.category.home{:href=>home_url}
      .name 我的全部资源
    -breadcrumb_categories.each do |category|
      :ruby
        filter_url = "#{home_url}?category_id=#{category.id}"

      %a.category{:href=>filter_url}
        .arr
        .name=category.name