.page-title 我的资源

.page-votes-ops
  %a.create{:href=>'/media_files/new'} 添加资源

.page-media-files
  -@media_files.each do |mf|
    .media-file
      .img
        %img{:src=>mf.file.url}
      .name=mf.file_file_name
