-htitle '我的资源'

:ruby
  current_category = @current_category

  home_url = pin_url_for('sns', 'media_files/mine')

  breadcrumb_categories = current_category.blank? ? [] : current_category.ancestors + [current_category]
  next_level_categories = current_category.blank? ? Category.roots : current_category.children


.page-categories-breadcrumb-bar.mine
  .breadcrumb-categories
    %a.category.home{:href=>home_url}
      .name HOME 
    -breadcrumb_categories.each do |category|
      :ruby
        filter_url = "#{home_url}?category_id=#{category.id}"
      %a.category{:href=>filter_url}
        .arr
        .name=category.name
  .next-level-categories
    -next_level_categories.each do |category|
      :ruby
        filter_url = "#{home_url}?category_id=#{category.id}"
      %a.category{:href=>filter_url}
        .name=category.name


.page-media-files.mine
  -@media_files.each do |media_file|
    :ruby
      cover_src = media_file_cover_src media_file
      title = truncate_u media_file.file_file_name, 10

    %a.media-file{:href=>'javascript:;'}
      .meta-box
        .cover{:'data-src'=>cover_src}
        .title=title
      .detail-box
