=form_for @media_file, :url=>"/media_files",:multipart => true do |f|
  - if @media_file.errors.messages.any?
    %div
      - @media_file.errors.messages.each_value do |msg|
        .error_msg= msg
  %div
    %label 选择文件
  %div
    =f.file_field :file
  %idv
    %label 分类
  %div
    =f.select :category_id, nested_set_options(Category) {|i| "#{'--' * i.level} #{i.name}"}, {:include_blank => true}

  %div
    =f.submit "创建"
  
  
-# 上传到内网的文件上传方式，先隐藏掉  
-#=form_tag "http://dev.www.uploadmediafile.com/upload",:multipart => true do
-#  =file_field_tag "file"
-#  =hidden_field_tag "creator_id",current_user.id
-#  =submit_tag "提交到EDU"
  