- content_for :css do
  = stylesheet_link_tag "media_file"

.drop-zone 请把需要的文件拖拽到窗口内

=form_for @media_file, :url=>"http://dev.uploadmediafile.yinyue.edu/upload",:multipart => true do |f|
  - if @media_file.errors.messages.any?
    %div
      - @media_file.errors.messages.each_value do |msg|
        .error_msg= msg
  .files_select
    %label 选择文件
    =file_field_tag :file, :multiple => true
    =hidden_field_tag "creator_id",current_user.id

.hidden.categories
  =form_for @media_file do |f|
    =f.label :category_id, "选择分类"
    =f.select :category_id, nested_set_options(Category) {|i| "#{'--' * i.level} #{i.name}"}, {:include_blank => true}
    =f.submit "提交"

%ul.files-list