    
.page-media-files-info
  .file-name 文件名称：#{@media_file.entry_file_name}
  .file-size 文件大小：#{@media_file.entry_file_size}
  - if @media_file.category
    .file-size 文件分类：#{@media_file.category.name}  
-if @media_file.is_video?
  .video-encode-status 转换状态：#{@media_file.video_encode_status}
-if @media_file.encode_success?
  =raw video_tag @media_file
  
