.page-title 数据分类维护

.page-admin-ops
  %a.create{:href=>'/categories/new'} 增加数据分类

.page-admin-categories
  -@level1_categories.each do |category|
    .category
      .t=category.name
      .c=count(category)
      %a{:href=>"/categories/new?parent_id=#{category.id}"} 增加子数据分类
      = recursive_categories(category)
