- current_path = current_dir.blank? ? '/' : current_dir.path

.page-create-folder-box{:style=>'display:none;', :'data-default-name'=>'新建文件夹'}
  .form-title 新建文件夹
  = form_tag '/file/create_folder', :method => 'post' do
    = hidden_field_tag :current_path, current_path
    .field.need
      %label 文件夹：
      = text_field_tag :folder
    .field.submit
      %a.form-submit-button.stop{:href=>'javascript:;'} 确定
      %a.form-cancel-button{:href=>'javascript:;'} 取消