- current_path = current_dir.blank? ? '/' : current_dir.path

.page-upload-box{:style=>'display:none;'}
  .form-title 上传文件
  .page-media-file-uploader{:'data-current-path' => current_path}
    .progress-bar-sample.hide
      .file{:'data-name'=>'', :'data-size'=>''}
        .bar
          .p{:style=>'width:26%;'}
        .data
          .name on_your_mark.rmvb
          .size 65.5MB
          .percent 26%
          .speed 32KB/s
          .error 文件上传出错
        .ops
          %a.close{:href=>'javascript:;', :title=>'取消上传'} 关闭
    .uploading-files-list