%div
  -if logged_in?
    ="欢迎你，#{current_user.name}"
  -else
    ="你现在未登录"
=link_to "教师列表","/teachers"
=link_to "学生列表","/students"
=link_to "课程列表","/courses"
=link_to "班级列表","/teams"
=link_to "分类列表","/categories"
