.page-title 系统数据概览

.page-admin-stat
  .data
    .title 课程
    .count=Course.count
    =link_to "打开维护","/courses"
  .data
    .title 班级
    .count=Team.count
    =link_to "打开维护","/teams"
  .data
    .title 分类
    .count=Category.count
    =link_to "打开维护","/categories"
  .data
    .title 教师
    .count=Teacher.count
    =link_to "打开维护","/teachers"
  .data
    .title 学生
    .count=Student.count
    =link_to "打开维护","/students"
