-htitle '登录'

-submit_url          = pin_url_for('pin-user-auth','/login')
-forgot_password_url = pin_url_for('pin-user-auth','/account/forgot_password')
-signup_url          = pin_url_for('pin-user-auth','/signup')

%span=flash[:error]
=form_tag(submit_url,{:class=>'login-form'}) do
  %label 电子邮箱 / 用户名
  =text_field_tag     :email   ,params[:email]
  %label 密码
  =password_field_tag :password,params[:password]
  %span=check_box_tag :remember_me,params[:remember_me],true
  %span 下次记住我
  =submit_tag "登 陆"
=link_to "注册一个新账号",signup_url
=link_to '我忘记密码了…', forgot_password_url