.attrs
  .t2 名称
  .t2 班级序号

- teams.each do |team|
  .model.team
    .t2= team.name
    .t2= team.cid
    .ops
      - remove_url = admin_team_path(team)
      %a.remove{:href=>'javascript:;', :'data-url'=>remove_url} 删除
      %a.edit{:href=>"/admin/teams/#{team.id}/edit"} 编辑
      %a.detail{:href=>"/admin/teams/#{team.id}"} 详情