.page-title 班级维护

= render 'admin/shared/search_field', :search_path => search_admin_teams_path

.page-admin-ops
  %a.create{:href=>'/admin/teams/new'} 增加班级

.page-admin-models.teams
  = render 'team_list', :teams => @teams

= will_paginate @teams