:ruby
  teaching_plan = DemoModel::TEACHING_PLAN_1
  
  teaching_plan_title = teaching_plan.title
  chapter = teaching_plan.chapters[0]
  chapter_title = chapter.title
  chapter_desc = chapter.desc
  homeworks = []

- hbreadcrumb '首页', '/'
- hbreadcrumb teaching_plan_title, '/homeworks'
- hbreadcrumb chapter_title, '/homeworks'
- hbreadcrumb '作业列表', '/homeworks'


.page-model-show.chapter-homeworks
  .head
    .title= chapter_title
    .describe= chapter_desc

  .homeworks
    .hcount 还没有创建作业
  .create= link_to "创建作业","/g2/show"