- CourseSurvey.all.each do |course_survey|
  .model.course_survey
    .tite= course_survey.title

    .ops
      - if current_user.has_surveyed?(course_survey)
        %a.detail{:href => "/course_survey_records/#{current_user.get_course_survey_record(course_survey).id}/edit"} 修改
      - else
        %a.detail{:href => "/course_surveys/#{course_survey.id}/course_survey_records/new"} 填写
