- hbreadcrumb '首页', '/'
- hbreadcrumb '课程调查'

.page-course-surveys

  .page-tabs
    %a.tab.current{:href=>"/course_surveys"} 全部
    %a.tab{:href=>"/course_surveys?kind=1"} 调查1
    %a.tab{:href=>"/course_surveys?kind=2"} 调查2


- if @course_surveys.blank?
  .blank
    目前列表内没有内容
- else
  .page-paginate= will_paginate @course_surveys

  .page-admin-models.course_surveys
    - if current_user.is_student?
      = render 'student_course_survey_list', :course_surveys => @course_surveys

    - if current_user.is_teacher?
      = render 'teacher_course_survey_list', :course_surveys => @course_surveys