@mixin base-mini-button{
  height : 38px;
  line-height : 38px;
  padding : 0 24px;
  box-shadow : none;
  text-shadow : 0 0 2px black;
  border : 1px solid rgba(black, 0.3);

  font-size:14px;
  color:white;&:hover{color:white;text-decoration:none;};

  display:inline-block;float:left;
  @include border-radius(3px);

  &.disabled{
    @include gradient(#fbfbfb, #f4f4f4);
    border:solid 1px #ccc;
    box-shadow:none;
    text-shadow:none;
    color:#cacaca;
  }
}

@mixin mini-button{
  @include base-mini-button;
  @include gradient(#87C221, #6F9A1F);
  border-color:rgba(black, 0.3);
  height:30px;line-height:30px;
  padding:0 14px;
  &:hover{
    @include gradient(lighten(#87C221, 10%), lighten(#6F9A1F, 10%));
  }
}

@mixin mini-button-close{
  @include base-mini-button;
  @include gradient(#666, #555);
  border-color:rgba(white, 0.3);
  &:hover{
    @include gradient(lighten(#666, 10%), lighten(#555, 10%));
  }
}