@mixin base-mini-button{
  height : 38px;
  line-height : 38px;
  padding : 0 24px;
  box-shadow : none;
  text-shadow : 0 0 2px black;
  border : 1px solid rgba(black, 0.3);

  font-size:14px;
  color:white;&:hover{color:white;text-decoration:none;};

  display:inline-block;float:left;
  @include border-radius(3px);

  &.disabled{
    @include gradient(#fbfbfb, #f4f4f4);
    border:solid 1px #ccc;
    box-shadow:none;
    text-shadow:none;
    color:#cacaca;
  }
}

@mixin mini-button{
  @include base-mini-button;
  @include gradient(#8AC524, #87C221);
  box-shadow:0 0 1px #FBFBFB inset;
  border-color:rgba(black, 0.3);
  height:30px;line-height:30px;
  padding:0 14px;
  &:hover{
    @include gradient(lighten(#8AC524, 10%), lighten(#87C221, 10%));
  }
}

@mixin mini-button-close{
  @include base-mini-button;
  @include gradient(#666, #555);
  border-color:rgba(white, 0.3);
  &:hover{
    @include gradient(lighten(#666, 10%), lighten(#555, 10%));
  }
}

@mixin mini-button-black{
  @include base-mini-button;
  @include gradient(#666, #555);
  border-color:rgba(black, 0.3);
  height:30px;line-height:30px;
  padding:0 14px;
  &:hover{
    @include gradient(lighten(#666, 10%), lighten(#555, 10%));
  }
}

@mixin mini-button-red{
  @include base-mini-button;
  @include gradient(#dc6b5b, #c74137);
  border-color:rgba(black, 0.3);
  height:30px;line-height:30px;
  padding:0 14px;
  &:hover{
    @include gradient(lighten(#dc6b5b, 10%), lighten(#c74137, 10%));
  }
}

@mixin mini-button-blue{
  @include base-mini-button;
  @include gradient(#7FA9C8, #799FBC);
  box-shadow:0 0 1px #FBFBFB inset;
  border-color:rgba(black, 0.3);
  height:30px;line-height:30px;
  padding:0 14px;
  &:hover{
    @include gradient(lighten(#2079C1, 10%), lighten(#1F659A, 10%));
  }
}

@mixin mini-button-gray{
  @include base-mini-button;
  @include gradient(#F3F3F3, #ECECEC);
  box-shadow:0 0 1px #FBFBFB inset;
  border-color:rgba(black, 0.3);
  height:30px;line-height:30px;
  padding:0 14px;
  color:#73797C;
  text-shadow:none;
  &:hover{
    @include gradient(#F8F8F8, #F1F1F1);
    color:#73797C;
  }
}

@mixin icon-close-24($color){
  width:24px;height:24px;
  overflow:hidden;line-height:20em;
  @include border-radius(2px);
  display:block;
  position:relative;

  &:hover{
    background-color:rgba(black, 0.1);
  }

  &:before, &:after{
    content:"";
    height:17px;width:3px;
    background-color:$color;
    position:absolute;
    top:4px;left:11px;
  }

  &:before{
    @include transform(rotate(45deg));
  }
  &:after{
    @include transform(rotate(-45deg));
  }
}

.page-upload-button{
  $w:86px;
  $h:32px;

  width:$w;
  height:$h;
  position:relative;
  overflow:hidden;

  a.button{
    display:block;
    height:$h - 2px;line-height:$h - 2px;
    width:$w - 2px;
    @include gradient(#fda034, #FF8201);
    border:1px solid rgba(black, 0.2);
    @include border-radius(3px);
    color:white;text-align: center;
    text-shadow:0 -1px 1px rgba(black, 0.3);
    font-size:14px;
  }
  input[type=file]{
    position:absolute;
    top:0;right:0;
    font-size:118px;
    opacity:0;
    cursor:pointer;
  }
}