.pagination{
  height:24px;line-height:24px;
  span{
    padding:0 5px;
  }
  a{
    padding:0 10px;
    background-color:rgba(#3E78FD, 0.2);
    color:#3E78FD;
    @include border-radius(3px);
  }
  .current{
    padding:0 10px;
    background-color:#3E78FD;
    font-style:normal;
    color:white;
    font-weight:bold;
    @include border-radius(3px);
  }
  .disabled{
    color:#999;
  }
}