// fonts
// -----------
@mixin base-font{
  font-family: "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
}

@mixin number-font{
  font-family: tahoma, arial, simsun, "宋体";
}

// 用于子元素全部是浮动元素的容器，修正高度
@mixin floatfix{
  &:after{content:"";display:block;clear:both;font-size:0;line-height:0;}
}

// 强制自动换行
@mixin wordwarp{
  word-wrap:break-word;word-break:break-all;//white-space:pre-wrap; 会导致多出空行的问题
}

// mixins
// -----------
@mixin gradient($from, $to){
  background : -moz-linear-gradient(-90deg, $from, $to);
  background : -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
}

@mixin gradient-ltor($from, $to){
  background : -moz-linear-gradient(0deg, $from, $to);
  background : -webkit-gradient(linear, 0% 0%, 100% 0%, from($from), to($to));
}

@mixin border-radius($radius){
     -moz-border-radius : $radius;
  -webkit-border-radius : $radius;
          border-radius : $radius;
}

@mixin transition($params){
     -moz-transition : $params;
  -webkit-transition : $params;
          transition : $params;
}

@mixin transform($params){
     -moz-transform : $params;
  -webkit-transform : $params;
          transform : $params;
}