%div 真实姓名 #{@student.real_name}
%div 学生编号 #{@student.sid}
-if @student.user.blank?
  %div 未绑定用户
  %div=link_to "绑定用户","/students/#{@student.id}/set_user"
-else
  %div 已绑定用户 #{@student.user.name}
=link_to "首页","/"
=link_to "学生列表","/students"
		
