.teacher-course, .teacher-student, .add-teacher {
  float: left;
  width: 100%;
}

.student-box {
  width: 80px;
  height: 30px;
  float: left;
  background-color:#cccaaa;
  margin: 3px;
}

.student-notice {
  width: 120px;
  height: 30px;
  float: left;
  background-color:#cccaaa;
  margin: 3px;
}


.students {
  float: left;
}