- htitle '作业/艺术实践'

- hbreadcrumb '首页', '/'
- hbreadcrumb '作业/艺术实践', '/homeworks'
- hbreadcrumb '布置作业/艺术实践'

.page-admin-go-back= link_to '返回列表页', '/homeworks'

= render 'homeworks/parts/form'
