.hide = flash_info

.page-management-items
  = render 'index/parts/project_stat', :project_name=>'pin-edu-sns'

  = render 'index/parts/server_stat', :server_name=>'redis_service'
  = render 'index/parts/server_stat', :server_name=>'resque_web_service'
  = render 'index/parts/server_stat', :server_name=>'juggernaut_service'

%a.page-logout{:href=>path_for('/logout')} 退出控制台