= form_tag path_for('/do_login'), :class=>'page-login-form', :'data-enter-to-submit'=>true do
  =hidden_field_tag :name, 'admin'
  .field.placeholder
    %label 管理员动态密码
    =password_field_tag :password
  .field.submit
    %a.form-submit-button{:href=>'javascript:;'} 登录