.page-admin-stat{
  width:600px;
  @include floatfix;

  .data{
    width:150px;
    background-color:white;
    box-shadow:0 1px 2px rgba(0,0,0,0.07);
    @include border-radius(3px);
    
    padding:10px;
    margin-right:20px;
    margin-bottom:20px;
    float:left;
    
    .title{
      background-color:#E7F1F6;
      text-align:center;
      font-size:14px;font-weight:bold;
      color:#82AAC0;
      height:30px;line-height:30px;
      
    }
    .count{
      background-color:#F0F5F7;
      text-align:center;
      font-size:28px;font-weight:bold;
      color:#465E6F;
      margin-bottom:10px;
      height:48px;line-height:48px;
    }

    a{
      @include mini-button;
      display:block;
      float:none;
      text-align:center;
    }
  }
}

.page-admin-ops{
  @include floatfix;
  margin-bottom:20px;

  a.create{
    @include mini-button;
    margin-right:20px;
  }

  a.import{
    @include mini-button-blue;
  }

  .list-style{
    @include floatfix;
    float:left;
    margin-left:20px;
    height:32px;line-height:32px;
    .desc{float:left;margin-right:10px;}
    a{float:left;margin-right:10px;}
  }
}

.page-admin-models{
  @include floatfix;
  margin-bottom:20px;

  .attrs{
    @include floatfix;
    margin-bottom:3px;
    border:solid 1px #ddd;
    background-color:rgba(black, 0.05);
    padding:10px;

    &.ava{padding-left:32px + 10px + 20px;}

    .t{width:80px;float:left;}
    .t2{width:120px;float:left;}
    .t3{width:160px;float:left;}
  }

  .model{
    @include floatfix;
    padding:10px;
    border:solid 1px #ddd;
    position:relative;
    background-color:rgba(black, 0.05);
    margin-bottom:3px;

    .avatar{
      float:left;
      margin-right:20px;
    }

    .t{width:80px;float:left;}
    .t2{width:120px;float:left;}
    .t3{width:160px;float:left;}
    .t, .t2, .t3{
      height:32px;line-height:32px;
      overflow:hidden;

      &:empty{
        &:before{
          content:"--";
          color:#999;
        }
      }
      .ava{
        float:left;
        margin-top:4px;
        margin-right:4px;
      }
    }

    .ops{
      position:absolute;
      top:10px;right:10px;
      .remove{@include mini-button-red;margin-right:10px;display:none;}
      .edit{@include mini-button-black;margin-right:10px;display:none;}
      .detail{@include mini-button-black;}
    }

    &:hover{
      .ops{
        .remove, .edit{display:block;}
      }
      background-color:rgba(white, 0.5);
    }
  }

  .grid.course{
    float:left;
    margin-right:20px;
    margin-bottom:30px;

    .box{
      background-color:white;
      box-shadow:0 1px 2px rgba(0,0,0,0.07);
      padding:10px;
      margin-bottom:10px;

      @include border-radius(3px);

      .cover{
        width:160px;height:96px;
        margin-bottom:5px;
      }
      .name{
        height:20px;line-height:20px;
        overflow:hidden;
        width:160px;
      }
    }

    .teacher{
      padding:0 10px;
      height:24px;line-height:24px;
      .ava{
        float:left;margin-right:4px;
      }
      .quiet{color:#ccc;}
    }
  }
}

.page-admin-categories{
  background-color:rgba(black, 0.05);
  padding:10px;

  .category{
    .meta{
      @include floatfix;
      padding:0 16px;
      height:32px;line-height:32px;
      position:relative;

      .name{
        font-size:16px;
        float:left;
        margin-right:20px;
      }
      .ops{
        float:left;
      }

      &:before{
        content:"";
        display:block;
        position:absolute;
        left:-5px;
        top:12px;
        @include border-radius(10px);
        width:6px;height:6px;
        border:solid 3px lighten(#86C120, 40%);
        background-color:darken(#86C120, 20%);
      }
    }
    .children{
      padding-left:28px;
      border-left:solid 2px #ccc;
    }
  }
}

.page-admin-form{
  width:500px;
  @include border-radius(3px);
  box-shadow:0 1px 2px rgba(0,0,0,0.07);
  padding:10px;margin-right:20px;margin-bottom:20px;
  background-color:#fff;

  form{
    .field{
      select{
        width:256px;
      }
      textarea{
        width:480px;
        height:200px;
      }
    }
  }
}

.page-admin-form-info{
  width:500px;
  @include border-radius(3px);
  padding:9px;margin-right:20px;margin-bottom:10px;
  background-color:rgba(black, 0.05);
  border:solid 1px #ddd;
  @include floatfix;
  .desc{
    margin-bottom:10px;
  }
  a.download{
    @include mini-button-black;
  }
}

.page-admin-model-show{
  width:500px;
  @include border-radius(3px);
  box-shadow:0 1px 2px rgba(0,0,0,0.07);
  padding:10px;margin-right:20px;margin-bottom:20px;
  background-color:#fff;

  .field{
    padding-bottom:10px;
    margin-bottom:10px;
    border-bottom:solid 1px #eee;
    &:last-child{
      border:none;
      padding-bottom:0;
      margin-bottom:0;
    }

    &.avatar{
      float:left;
      border:none;
    }
    label{
      color:#999;
    }
    .v{
      font-size:16px;
      height:24px;line-height:24px;
      min-width:1px;
      &:empty{
        &:before{
          content:"--";
        }
      }
    }
  }

  .data{
    margin-left:116px;
  }

  .field.student{
    height:24px;line-height:24px;
    @include floatfix;
    .avatar{
      float:left;margin-right:10px;
    }
    .name{
      float:left;margin-right:10px;
    }
    .show{
      float:right;
    }
  }

  .field.students-count{
    position:relative;
    .assign{
      position:absolute;
      top:0px;right:0px;
      @include floatfix;
      a{@include mini-button-blue;}
    }
  }
}

.page-admin-go-back{
  @include floatfix;
  a{@include mini-button-black;}
  float:left;margin-right:10px;
}

.page-admin-edit{
  @include floatfix;
  a{@include mini-button;}
  float:left;margin-right:10px;
}

.page-admin-students-selector{
  @include floatfix;
  float:left;
  padding:10px;
  background-color:rgba(black, 0.05);
  border:solid 1px #ddd;
  @include border-radius(3px);

  form.search{
    margin-bottom:10px;
    position:relative;
    .desc{
      position:absolute;
      height:32px;line-height:32px;
      left:300px;top:0;
    }
  }

  .selector{
    float:left;
    margin-bottom:10px;
    margin-right:10px;

    .list{
      background-color:rgba(white, 0.8);
      border:solid 1px #ddd;
      width:320px;
      height:400px;
      padding:5px;
      overflow-y:scroll;
      .student{
        height:30px;line-height:32px;
        width:76px;
        float:left;
        padding:0 10px;
        cursor:pointer;
        margin:0 1px 1px 0;
        border:solid 2px transparent;

        @include border-radius(3px);

        &:hover{
          border:solid 2px rgba(black, 0.5);
        }
        &.selected{
          background-color:#1F78C0;
          color:white;
          text-shadow:0 0 2px rgba(black, 0.5);
        }
      }
    }
  }

  .result{
    float:left;
    .list{
      background-color:rgba(white, 0.8);
      border:solid 1px #ddd;
      width:320px;
      height:400px;
      padding:5px;
      overflow-y:scroll;
      margin-bottom:10px;
      .student{
        height:24px;line-height:24px;
        cursor:pointer;
        padding:0 10px;
        &:hover{
          background-color:#eee;
        }
      }
    }
    .count{
      height:24px;line-height:24px;
      font-size:16px;
      .c{font-weight:bold;}
    }
  }

  .ops{
    @include floatfix;
    clear:both;
  }
}