.page-admin-stat{
  width:600px;
  @include floatfix;

  .data{
    background-color: #f8f8f8;
    border: 1px solid #E5E5E5;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 10px;
    padding: 10px;
    position:relative;
    @include floatfix;
    
    .title{
      font-size:16px;
      font-weight:bold;
      height:32px;line-height:32px;
    }
    .count{
      position:absolute;
      height:32px;line-height:32px;
      background-color:#2C86D4;
      top:10px;right:106px;
      font-size:24px;font-weight:bold;
      padding:0 10px;
      @include border-radius(3px);
      color:white;
    }

    a{
      @include mini-button;
      text-align:center;
      position:absolute;
      top:10px;right:10px;
    }
  }
}

.page-admin-ops{
  @include floatfix;
  margin-bottom:20px;

  a.create{
    @include mini-button;
    margin-right:20px;
  }

  a.import{
    @include mini-button-blue;
  }

  .list-style{
    @include floatfix;
    float:left;
    margin-left:20px;
    height:32px;line-height:32px;
    .desc{float:left;margin-right:10px;}
    a{float:left;margin-right:10px;}
  }

  .search{
    float:right;
  }
}

.page-admin-models{
  @include floatfix;
  margin-bottom:20px;

  .attrs{
    @include floatfix;
    margin-bottom:3px;
    border:solid 1px #ddd;
    background-color:rgba(black, 0.05);
    padding:10px;

    &.ava{padding-left:32px + 10px + 20px;}

    .t{width:80px;float:left;}
    .t2{width:120px;float:left;}
    .t3{width:160px;float:left;}
  }

  .model{
    @include floatfix;
    padding:10px;
    border:solid 1px #ddd;
    position:relative;
    background-color:rgba(black, 0.05);
    margin-bottom:3px;

    .avatar{
      float:left;
      margin-right:20px;
    }

    .t{width:80px;float:left;}
    .t2{width:120px;float:left;}
    .t3{width:160px;float:left;}
    .t, .t2, .t3{
      height:32px;line-height:32px;
      overflow:hidden;

      &:empty{
        &:before{
          content:"--";
          color:#999;
        }
      }
      .ava{
        float:left;
        margin-top:4px;
        margin-right:4px;
      }
    }

    .ops{
      position:absolute;
      top:10px;right:10px;
      .remove{@include mini-button-red;margin-right:10px;display:none;}
      .edit{@include mini-button-black;margin-right:10px;display:none;}
      .detail{@include mini-button-black;}
    }

    &:hover{
      .ops{
        .remove, .edit{display:block;}
      }
      background-color:rgba(white, 0.5);
    }
  }

  &.courses{
    width:600px;
  }
  .model.course{
    .name{
      font-size:16px;
      font-weight:bold;
      height:20px;line-height:20px;
      margin-bottom:10px;
    }
    .cid{
      font-size:12px;
      color:#666;
      height:20px;line-height:20px;
    }
    .ops{
      .open-teachers{
        @include mini-button-black;margin-right:10px;
        span.open{display:block;}
        span.close{display:none;}
      }
    }


    &.open{
      background-color:white;
      .ops{
        .open-teachers{
          @include mini-button-black;margin-right:10px;
          span.open{display:none;}
          span.close{display:block;}
        }
      }
    }
  }
}

.page-admin-categories{
  background-color:rgba(black, 0.05);
  padding:10px;

  .category{
    .meta{
      @include floatfix;
      padding:0 16px;
      height:32px;line-height:32px;
      position:relative;

      .name{
        font-size:16px;
        float:left;
        margin-right:20px;
      }
      .ops{
        float:left;
      }

      &:before{
        content:"";
        display:block;
        position:absolute;
        left:-5px;
        top:12px;
        @include border-radius(10px);
        width:6px;height:6px;
        border:solid 3px lighten(#86C120, 40%);
        background-color:darken(#86C120, 20%);
      }
    }
    .children{
      padding-left:28px;
      border-left:solid 2px #ccc;
    }
  }
}

.page-admin-form{
  width:500px;
  @include border-radius(3px);
  box-shadow:0 1px 2px rgba(0,0,0,0.07);
  padding:10px;margin-right:20px;margin-bottom:20px;
  background-color:#fff;

  form{
    .field{
      select{
        width:256px;
      }
      textarea{
        width:480px;
        height:200px;
      }
    }
  }
}

.page-admin-form-info{
  width:500px;
  @include border-radius(3px);
  padding:9px;margin-right:20px;margin-bottom:10px;
  background-color:rgba(black, 0.05);
  border:solid 1px #ddd;
  @include floatfix;
  .desc{
    margin-bottom:10px;
  }
  a.download{
    @include mini-button-black;
  }
}

.page-admin-model-show{
  width:600px;
  @include border-radius(3px);
  box-shadow:0 1px 2px rgba(0,0,0,0.07);
  padding:10px;margin-right:20px;margin-bottom:20px;
  background-color:#fff;

  .field{
    padding-bottom:10px;
    margin-bottom:10px;
    border-bottom:solid 1px #eee;
    &:last-child{
      border:none;
      padding-bottom:0;
      margin-bottom:0;
    }

    &.avatar{
      float:left;
      border:none;
    }
    label{
      color:#999;
    }
    .v{
      font-size:16px;
      line-height:24px;
      min-width:1px;
      &:empty{
        &:before{
          content:"--";
        }
      }
    }
  }

  .data{
    margin-left:116px;
  }

  .field.student{
    height:24px;line-height:24px;
    @include floatfix;
    .avatar{
      float:left;margin-right:10px;
    }
    .name{
      float:left;margin-right:10px;
    }
    .show{
      float:right;
    }
  }

  .field.students-count{
    position:relative;
    .assign{
      position:absolute;
      top:0px;right:0px;
      @include floatfix;
      a{@include mini-button-blue;}
    }
  }
}

.page-admin-go-back{
  @include floatfix;
  a{@include mini-button-black;}
  float:left;margin-right:10px;
}

.page-admin-edit{
  @include floatfix;
  a{@include mini-button;}
  float:left;margin-right:10px;
}