.page-admin-stat{
  width:600px;
  @include floatfix;

  .data{
    width:150px;
    background-color:white;
    box-shadow:0 1px 2px rgba(0,0,0,0.07);
    @include border-radius(3px);
    
    padding:10px;
    margin-right:20px;
    margin-bottom:20px;
    float:left;
    
    .title{
      background-color:#E7F1F6;
      text-align:center;
      font-size:14px;font-weight:bold;
      color:#82AAC0;
      height:30px;line-height:30px;
      
    }
    .count{
      background-color:#F0F5F7;
      text-align:center;
      font-size:28px;font-weight:bold;
      color:#465E6F;
      margin-bottom:10px;
      height:48px;line-height:48px;
    }

    a{
      @include mini-button;
      display:block;
      float:none;
      text-align:center;
    }
  }
}

.page-admin-ops{
  @include floatfix;
  margin-bottom:20px;

  a.create{
    @include mini-button;
  }
}

.page-admin-models{
  .attrs{
    @include floatfix;
    margin-bottom:3px;
    border:solid 1px #ddd;
    background-color:rgba(black, 0.05);
    padding:10px;

    &.ava{padding-left:32px + 10px + 20px;}

    .t{width:80px;float:left;}
    .t2{width:120px;float:left;}
    .t3{width:160px;float:left;}
  }

  .course {
    width:160px;
    height:128px;
    display:inline-block;
    padding:4px;
    margin:8px 0 8px 8px;
    border:1px solid #ccc;

    .cover{
      overflow:hidden;
    }
  }

  .model{
    @include floatfix;
    padding:10px;
    border:solid 1px #ddd;
    position:relative;
    background-color:rgba(black, 0.05);
    margin-bottom:3px;

    .avatar{
      float:left;
      margin-right:20px;
    }

    .t{width:80px;float:left;}
    .t2{width:120px;float:left;}
    .t3{width:160px;float:left;}
    .t, .t2, .t3{
      height:32px;line-height:32px;
      &:empty{
        &:before{
          content:"--";
          color:#999;
        }
      }
    }

    .ops{
      position:absolute;
      top:10px;right:10px;
      .remove{@include mini-button-red;margin-right:10px;}
      .detail{@include mini-button-black;}
    }
  }
}

.page-admin-categories{
  .category{
    width:100px;
    @include border-radius(6px);
    box-shadow:1px 1px 2px rgba(0, 0, 0, 0.2);
    border:solid 3px #eee;
    padding:10px;margin-right:20px;margin-bottom:20px;
    float:left;background-color:#F7F7F7;
    .t{
      font-size:14px;line-height:24px;height:24px;
      background-color:#eee;padding:0 10px;
      @include border-radius(3px);
    }
    .c{
      font-size:24px;font-weight:bold;line-height:48px;height:48px;
      padding:0 10px;
    }
  }
}

.page-admin-form{
  width:500px;
  @include border-radius(6px);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.2);
  border:solid 3px #eee;
  padding:10px;margin-right:20px;margin-bottom:20px;
  background-color:#fff;
}