@mixin announcement-cells {
  .cell {
    &.title{width:600px;}
		&.creator{width:200px;}
    &.date{width:200px;}
  }
}

.page-announcements-head {
  @include generic-page-head;
	@include announcement-cells;
}

.page-announcements {
  @include generic-body-list;
	@include announcement-cells;
}
