body.auth{
  background:url(auth/body-bg.png);
  color:white;
  text-shadow:0 0 3px black;

  a{
    color:white;
    &:hover{
      color:white;background-color:rgba(white, 0.3);
      @include border-radius(2px);
      text-decoration:none;
    }
  }

  .page-wallpaper{
    overflow:hidden;
    width:100%;
    height:100%;
    position:fixed;
    left:0;top:0;
  }
  .page-content{
    overflow:hidden;
    width:100%;
    height:100%;
    position:fixed;
    left:0;top:0;
    padding:0;margin:0;
  }
}

.page-login{
  position:absolute;
  top:50%;left:50%;
  width:700px;
  height:400px;

  form{
    position:absolute;
    top:-50%;
    left:-50%;
    font-size:14px;

    &::before{
      content:"";
      display:block;
      width:621px;height:95px;
      background:url(allimg.png) no-repeat 0px 0px;
      margin-bottom:28px;
    }


    .fields{
      @include floatfix;
      margin-bottom:7px;

      $mr:6px;
      .field.name, .field.password{
        float:left;
        margin-right:$mr;
        position:relative;
        text-shadow:none;

        label{
          position:absolute;
          font-size:14px;font-weight:bold;
          color:#43474B;
          padding:6px 12px;
          top:1px;left:2px;
          height:24px;line-height:24px;
          pointer-events:none;
        }
        input[type=text], input[type=password]{
          border:solid 1px rgba(white, 0.5);
          background-color:#25282b;
          color:#aaa;font-weight:bold;
          font-size:14px;
          padding:6px 12px;
          height:24px;line-height:24px;
          width:240px;
          box-shadow:none;
          @include border-radius(2px);

          @media screen and (-webkit-min-device-pixel-ratio:0) {
            margin-top:1px;
          }

          &:focus{
            box-shadow:none;
            background-color:#16181A;
          }
        }
      }
      .field.subm{
        float:left;

        a.form-submit-ajax-button{
          @include border-radius(2px);
          @include gradient(#FDA034, #FF8201);
          border:solid 1px rgba(white, 0.3);
          height:36px;line-height:36px;
          font-weight:bold;
          width:80px;padding:0 16px 0 0;
          text-align:center;
          margin:0;
          position:relative;
          text-shadow:0 0 3px black;
          display:inline-block;

          &:hover{
            @include gradient(#FDA034, #FDA034);
          }

          &:before{
            content:"";
            position:absolute;
            width:0;height:0;
            right:8px;top:10px;
            border:solid 8px transparent;
            border-left-color:white;
          }
        }
      }

      .field.signup{
        float:left;
        width:266px;margin-right:$mr;
      }
      .field.remember{
        float:left;
        margin-right:28px;
        input[type=checkbox]{
          position:relative;top:1px;
        }
      }
      .field.forgot{
        float:left;
      }

      .login-errors{
        //float:left;
        padding:12px 12px;
        font-size:12px;
        @include border-radius(2px);
        background-color:rgba(black, 0.4);
        color:white;
        position:relative;
        height:16px;line-height:16px;
        border:solid 1px rgba(white, 0.3);

        &::before{
          content:"!";
          display:inline-block;
          width:16px;height:16px;line-height:16px;
          background-color:rgba(#ff3333, 0.8);
          @include border-radius(2px);
          color:white;
          text-align: center;
          font-weight: bold;
          margin-right:6px;
          box-shadow:0 0 2px black;
        }
      }
    }
  }
}