.page-received-comments{
  .comment{
    @include floatfix;
    width:600px;
    margin-bottom:10px;
    background-color:rgba(black, 0.05);
    border:solid 1px #ddd;
    padding:10px;
    @include border-radius(3px);

    .avatar{
      float:left;
      width:48px;height:48px;
    }
    .name{
      margin-left:48px + 10px;
      height:24px;line-height:24px;
    }
    .content{
      margin-left:48px + 10px;
      line-height:24px;
      span.time{padding-left:7px;color:#666;}
      margin-bottom:7px;
    }
    .from{
      margin-left:48px + 10px;
      line-height:24px;
      color:#666;
    }
  }
}