@mixin course-survey-cells {
  .cell {
    &.title{width:400px;}
    &.semester{width:100px;}
    &.course{width:200px;}
    &.kind{width:100px;}
    &.count{width:200px;}
  }
}

.page-course-surveys-head {
  @include generic-page-head;
	@include course-survey-cells;
}

.page-course-surveys {
  @include generic-body-list;
	@include course-survey-cells;
}
