.page-dashboard-base-info{
  background-color:#F2F2F2;
  border-left:solid 1px #b1b1b1;
  border-bottom:solid 1px #DADDE0;
  box-shadow:0 1px 0 #fff inset;
  @include floatfix;

  .user-data{
    float:left;
    overflow:hidden;
    width:280px;
    border-right:solid 1px #DADDE0;
    position:relative;
    padding:15px;

    .avatar{
      float:left;
      width:80px;height:80px;
      background-color:white;
      border:solid 1px #DADDE0;
      padding:2px;
      img{width:80px;height:80px;}
    }
    .data{
      margin-left:80px + 6px + 15px;
      font-size:18px;
      .name{
        margin-bottom:10px;
      }
      .id{
        color:#888;
      }
    }
  }

  .course-data{
    float:left;
    padding:15px;
    box-shadow:1px 0 0 white inset;

    .today{
      background-color:white;
      border:solid 1px #DADDE0;
      overflow:hidden;
      padding:2px;
      position:relative;

      .day{
        float:left;
        font-size:48px;
        color:#2C86D4;
        line-height:80px;height:80px;
        width:80px;
        text-align:center;
        margin-right:15px;
        background-color:#F0F5F9;
      }

      .d{
        float:left;
        width:280px;
        .weekday{
          color:#2C86D4;
          font-size:18px;
          height:40px;line-height:40px;
        }
        .date{
          height:40px;line-height:40px;
          color:#888;
        }
      }

      .icon{
        position:absolute;
        background-color:#fafafa;
        top:0;bottom:0;right:0;
        width:80px;
        border-left:solid 1px #E5E5E5;

        &:after{
          content:"";
          position:absolute;
          @include xicon(2, 1, 1);
          top:19px;left:16px;
        }
      }
    }
  }
}

.page-dashboard{
  width:700px;

  .courses{
    .course{
      @include floatfix;
      border-bottom:solid 1px #eee;
      margin-bottom:15px;
      padding-bottom:15px;

      a.img{
        display:block;
        padding:2px;
        border:solid 1px #DADDE0;
        float:left;
      }
      .title{
        margin-left:80px + 6px + 15px;
        font-size:18px;
        margin-bottom:10px;
      }
      .desc{
        margin-left:80px + 6px + 15px;
        width:490px;
        color:#555;
        margin-bottom:15px;
      }
      .attach{
        margin-left:80px + 6px + 15px;

        .cp-count, .hw-count{
          float:left;
          background-color:#F0F5F9;
          color:#2C86D4;
          font-size:12px;
          height:24px;line-height:24px;
          padding:0 6px;
          @include border-radius(2px);
          margin-right:10px;
        }
      }
    }
  }
}

.page-progress-bar{
  height:10px;
  border:solid 1px #b1b1b1;
  padding:1px;
  .p{
    background-color:#8EC500;
    height:10px;
  }
}

// -----------------

.page-course-nav{
  height:40px;
  line-height:40px;
  border-left:solid 1px #B1B1B1;
  background-color:#F8F8F8;
  border-bottom:solid 1px #DADDE0;
  box-shadow:0 1px 0 white inset;
  padding-left:15px;

  a.item{
    margin-top:7px;
    margin-right:5px;
    float:left;
    height:32px;line-height:32px;
    padding:0 14px;
    background-color:#EAEAEA;
    border-top:solid 1px #DADDE0;
    border-left:solid 1px #DADDE0;
    border-right:solid 1px #DADDE0;
    color:#555;
    &:hover{
      background-color:#dedede;
      color:#444;
    }
    &.current{
      font-weight:bold;
      color:#444;
      background-color:white;
      padding-bottom:1px;
    }
  }
}

.page-course-show{
  .nav-title{
    font-size:18px;
    font-weight:bold;
    margin-bottom:15px;
  }
  .nav-desc{
    margin-bottom:15px;
  }
}