.page-dashboard{

  .page-field{
    background-color:#f8f8f8;
    border:1px solid #E5E5E5;
    box-shadow:0 1px 2px #FFFFFF inset;
    padding:0 15px;
    @include border-radius(4px);
    margin-bottom:20px;

    .field-title{
      background:none;
      border:none;
      margin:0;
      color:#555;
      line-height:40px;height:40px;
    }
    .field-data{
      margin-bottom:15px;
    }
  }

  .page-field.base-info{
    padding-top:15px;
    .field-title{
      display:none;
    }

    .user-data{
      float:left;
      overflow:hidden;
      width:359px;
      border-right:solid 1px white;
      position:relative;

      &:after{
        content:"";
        position:absolute;
        top:0;bottom:0;right:0;width:1px;
        background-color:#e5e5e5;
      }

      .avatar{
        float:left;
        width:96px;height:96px;
        padding:10px;
        background-color:white;
        @include border-radius(4px);
        border:solid 1px #e5e5e5;
        img{
          @include border-radius(0px);
        }
      }
      .data{
        margin-left:133px;
        .name{
          font-size:22px;
        }
        .id{
          color:#888;
          font-size:17px;
        }
      }
    }
    .course-data{
      float:left;
      padding-left:15px;
      .today{
        font-size:16px;
        margin-bottom:5px;
      }
    }
  }

}