.page-homeworks{
  .ops{
    overflow:hidden;
    margin-bottom:20px;

    a.new-homework{
      @include mini-button;
    }
  }
}

.page-homework-form{
  .field.attachments{
    
    .file{
      @include floatfix;
      margin-bottom:10px;

      .name{
        float:left;
        margin-right:10px;
        height:20px;line-height:20px;
      }
      .bar{
        float:left;
        border:solid 1px #ccc;
        background-color:white;
        height:20px;line-height:20px;
        width:200px;
        .p{
          background-color:black;
          height:20px;line-height:20px;
        }
      }

    }
  }

}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
