@mixin homework-cells{
  .cell{
    float:left;
    height:50px;line-height:50px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    margin-right:20px;

    &.title{width:200px;}
    &.deadline{width:200px;}
    &.attach{width:50px;}
    &.course{width:200px;}
    &.count{width:100px;}
    &.kind{width:100px;}
  }
}

.page-homeworks-head{
  position:fixed;
  top:0px;
  left:210px;right:0;
  z-index:8;
  padding:50px 0 0 0;
  background-color:#eee;
  background:url(bodybg.gif);
  box-shadow:0 1px 2px rgba(black, 0.07);

  .btns{
    @include floatfix;
    margin:0;
    padding:10px 20px;
    background-color:rgba(white, 0.6);

    .page-tabs{
      float:left;
    }

    a.new-homework{
      @include mini-button;
      margin-left:10px;
    }
  }

  .cells{
    @include floatfix;
    margin:0;
    padding:0 20px 0 20px;
    background-color:rgba(0, 0, 0, 0.05);
    border-top:solid 1px #ddd;
    border-bottom:solid 1px #ccc;

    @include homework-cells;
  }
}

.page-homeworks{
  margin-top:22px + 62px;
  margin-bottom:20px;

  .homework{
    @include floatfix;
    margin:0;
    padding:10px 0;
    border-bottom:1px solid #CCCCCC;

    @include homework-cells;
    .cell{
      height:32px;line-height:32px;
    }
    .cell.teacher{
      @include floatfix;
      .avatar{
        float:left;margin-right:10px;
      }
    }
  }
}

.page-model-form.homework{
  .field.attachments{
    
    .file{
      @include floatfix;
      margin-top:10px;
      height:24px;line-height:24px;
      padding:5px;
      border:solid 1px #ddd;
      background-color:rgba(black, 0.05);
      @include border-radius(3px);
      width:510px;

      .bar{
        width:200px;
        height:24px;
        border:solid 1px rgba(black, 0.3);
        float:left;
        @include border-radius(3px);
        background-color:rgba(white, 0.8);
        .p{
          background-color:#ABD7FF;
          height:24px;
        }
      }

      .percent{
        padding-left:10px;
        float:left;
        margin-left:10px;
        width:60px;
      }
      .name{
        float:left;
        width:200px;
        white-space:nowrap;
        text-overflow:ellipsis;
        overflow:hidden;
      }

      .complete{
        display:none;
      }
      &.complete{
        .bar{
          display:none;
        }
        .complete{
          display:block;
          float:left;
          width:190px;
          color:green;
          padding-left:10px;
        }
      }

      a.close{
        @include icon-close-24(#333);
      }

    }
  }
}

.page-model-show.homework{
  margin-bottom:20px;

  .head{
    @include floatfix;
    margin-bottom:20px;

    .title{
      // margin-left:68px;
      font-size:19px;font-weight:bold;
      height:21px;line-height:21px;
    }
    .user{
      // margin-left:68px;
      font-size:12px;
      height:20px;line-height:20px;
      margin-top:6px;
      .u-name{font-weight:bold;}
    }
  }

  .content{
    border:solid 1px #ddd;
    background-color:rgba(black, 0.05);
    padding:10px;
    @include border-radius(3px);
    margin-bottom:10px;
    .title{
      margin-bottom:10px;
    }
  }

  .deadline{
    border:solid 1px #ddd;
    background-color:rgba(black, 0.05);
    padding:10px;
    @include border-radius(3px);
    margin-bottom:10px;
    .title{
      margin-bottom:10px;
    }
    .time{
      font-weight:bold;
      margin-bottom:10px;
    }
  }

  .attachments{
    border:solid 1px #ddd;
    background-color:rgba(black, 0.05);
    padding:10px;
    @include border-radius(3px);
    margin-bottom:10px;
    .title{
      margin-bottom:10px;
    }
    .list{
      margin-bottom:10px;
    }

    .zip {
      @include floatfix;
      a.down{
        @include mini-button-black;
      }
    }
  }

  .requirements{
    padding-top:10px;
    .title{
      margin-bottom:10px;
    }
    .requirement{
      border:solid 1px #ddd;
      background-color:rgba(black, 0.05);
      padding:10px;
      @include border-radius(3px);
      margin-bottom:10px;
      .t{
        margin-bottom:10px;
      }
      .ops{
        @include floatfix;
        .upload{
        }
        .complete, .error{
          display:none;
          margin-bottom:10px;
        }
      }
      .upload-data{
        display:none;
      }

      &.complete{
        background-color:rgba(green, 0.05);
        .complete{
          margin-right:10px;
          height:32px;line-height:32px;
          color:green;
          display:block;
        }
      }

      &.error{
        background-color:rgba(red, 0.05);
        .error{
          margin-right:10px;
          height:32px;line-height:32px;
          color:red;
          display:block;
        }
      }

      &.uploading{
        .ops{
          display:none;
        }
        .upload-data{
          display:block;
          @include floatfix;
          height:32px;line-height:32px;

          .bar{
            width:200px;
            height:24px;
            border:solid 1px rgba(black, 0.3);
            float:left;
            margin-top:4px;
            @include border-radius(3px);
            background-color:rgba(white, 0.8);
            .p{
              background-color:#ABD7FF;
              height:24px;
            }
          }
          .percent{
            padding-left:10px;
            float:left;
            margin-left:10px;
            width:60px;
          }
          .name{
            float:left;
            width:200px;
            white-space:nowrap;
            text-overflow:ellipsis;
            overflow:hidden;
          }
        }
      }
    }
  }

  .student-submit{
    border-top:solid 2px #ccc;
    border-bottom:solid 2px #ccc;
    padding:20px 0;

    textarea{
      width:500px;
      height:80px;
    }
  }
}

.page-homework-students-list{
  .students-list{
    margin:-15px;

    .student{
      @include floatfix;
      border-bottom:solid 1px #ddd;
      padding:10px 15px;

      &:last-child{
        border:none;
      }

      .cell{
        float:left;
        width:100px;
        height:24px;line-height:24px;
        margin-right:10px;
      }
    }
  }
}

.page-homework-timeline{
  min-height:100px;
  background-color:white;
  border-left:solid 1px #B1B1B1;
  border-bottom:solid 1px #B1B1B1;
  padding:15px;

  .teacher{
    background-color:#f7f7f7;
    @include floatfix;
    margin:-15px;
    margin-bottom:0;
    padding:15px;
    .avatar{
      float:left;
      margin-right:15px;
      border:solid 1px #DADDE0;
      padding:3px;
      background-color:white;
      img{
        @include border-radius(0);
      }
    }
    .title{
      float:left;
      font-size:16px;
      font-weight:bold;
      height:48px;line-height:48px;
    }
  }

  .homeworks{
    .homework{
      @include floatfix;
      position:relative;
      height:120px + 6px + 120px;
      border-top:solid 1px #DADDE0;
      background-color:#F7F7F7;
      margin:0 -15px;

      .title{
        height:24px;line-height:24px;
        background-color:#F2F2F2;
        border:solid 1px #DADDE0;
        padding:0 7px;
        float:left;
        margin-top:(120px + 6px + 120px - 26px) / 2;
        position:relative;
      }
      .line{
        width:1600px;
        height:6px;background-color:#D6D6D6;
        position:absolute;
        top:120px;left:1px;
      }
      .events{
        .event{
          background-color:white;
          font-size:12px;
          position:absolute;
          height:90px;top:10px;
          width:120px;
          border:solid 1px #b1b1b1;

          .t{
            @include floatfix;
            padding:5px;
            border-bottom:solid 1px #DADDE0;
            .avatar{float:left;margin-right:10px;}
            .name{font-weight:bold;height:24px;line-height:24px;}
          }
          .c{
            padding:5px;
          }

          &:after{
            position:absolute;
            content:"";
            top:90px;
            left:-1px;
            height:10px;
            width:10px;
            background:url(/assets/timeline_c_up.png)
          }

          &:before{
            position:absolute;
            content:"";
            top:105px;
            left:-7px;
            height:10px;
            width:10px;
            border:solid 2px white;
            background-color:#3F6EBF;
            box-shadow:0 0 1px rgba(black, 0.7);
            @include border-radius(10px);
          }

          &.down{
            top:143px;
            &:after{
              position:absolute;
              content:"";
              top:-10px;
              left:-1px;
              height:10px;
              width:10px;
              background:url(/assets/timeline_c_down.png)
            }

            &:before{
              position:absolute;
              content:"";
              top:-28px;
              left:-7px;
              height:10px;
              width:10px;
              border:solid 2px white;
              background-color:#DC6147;
              box-shadow:0 0 1px rgba(black, 0.7);
              @include border-radius(10px);
            }
          }
        }
      }
    }
  }
}
