.page-media-resource-fixed{
  position:fixed;
  top:0px;
  left:210px;right:0;
  z-index:8;
  padding:50px 0 0 0;
  background-color:#eee;
  background:url(bodybg.gif);
  box-shadow:0 1px 2px rgba(black, 0.07);
}

.page-media-resource-head{
  @include floatfix;
  margin:0;
  padding:20px;
  background-color:rgba(white, 0.6);

  .create-folder-button{
    @include mini-button;
    float:left;margin-right:20px;
    @include gradient(#2079C1, #1F659A);
    &:hover{
      @include gradient(lighten(#2079C1, 10%), lighten(#1F659A, 10%));
    }
  }

  .page-upload-button{
    float:left;
  }

  .search{
    float:right;
    form .field{
      margin-bottom:0;
    }
  }
}

.page-media-resource-nav{
  background-color:rgba(black, 0.05);
  border-top:solid 1px #ddd;
  border-bottom:solid 1px #ccc;
  height:50px;line-height:50px;
  margin:0;
  padding:0 20px;

  .go-parent-dir, .go-back{
    float:left;
    border-right:solid 1px #ccc;
    padding-right:20px;
    margin-right:20px;
    padding-left:10px;
    a{
      color:#666;
      &:hover{color:#333;}
    }
  }
  .navs{
    float:left;
    a{
      color:#666;
      &:hover{color:#333;}
    }

    span{
      float:left;
      &:after{
        content:'>';
        padding:0 10px;
        color:#b2b2b2;
      }
      &:last-child{
        &:after{display:none;}
      }
    }
  }
  .detail{
    float:left;
  }
}

.page-create-folder-box{
  position:fixed;
  height:200px;
  width:300px;
  top:50%;left:50%;
  margin-top:-200px;
  margin-left:-200px;
  z-index:10003;
  box-shadow:0 1px 2px rgba(black, 0.07);
  background-color:rgba(white, 0.95);

  .form-title{
    height:32px;line-height:32px;
    background-color:rgba(black, 0.05);
    margin:3px;
    border:solid 1px #ddd;
    padding:0 14px;
    color:#666;
  }
  form{
    padding:20px;
  }
}

.page-upload-box{
  position:fixed;
  height:400px;
  width:640px;
  top:50%;left:50%;
  margin-top:-200px;
  margin-left:-320px;
  z-index:10003;
  box-shadow:0 1px 2px rgba(black, 0.07);
  background-color:rgba(white, 0.95);

  .form-title{
    height:32px;line-height:32px;
    background-color:rgba(black, 0.05);
    margin:3px;
    border:solid 1px #ddd;
    padding:0 14px;
    color:#666;
  }
}

// ----------

.page-media-resources{
  @include floatfix;
  margin-top:114px;

  .media-resource-blank{
    height:28px;line-height:28px;
    padding:11px;
    border-bottom:solid 1px #E5E5E5;
  }

  .media-resource{
    @include floatfix;
    display:block;
    float:left;
    margin-right:20px;
    margin-bottom:30px;

    position:relative;
    // @include transition(all ease-in .1s);

    .meta-box{
      @include border-radius(3px);
      box-shadow:0 1px 2px rgba(black, 0.07);
      padding:5px;
      background-color:white;
      position:relative;

      .cover{
        width:200px;height:150px;
        overflow:hidden;
        background-color:#eee;
      }

      .detail{
        background-color:rgba(white, 0.95);
        opacity:0;
        @include transition(all ease-in .2s);
        position:absolute;
        width:190px;height:140px;padding:5px;
        top:5px;left:5px;
        color:#888;
        overflow:hidden;

        .ftime{font-size:12px;margin-bottom:6px;}
        .link{
          font-size:14px;
          @include floatfix;
          margin-bottom:5px;
          a{
            @include mini-button-black;
            height:22px;line-height:22px;
            width:50px;
            padding:0 7px;
            font-size:12px;
          }

          &.download a{
            @include mini-button-blue;
            height:22px;line-height:22px;
            width:50px;
            padding:0 7px;
            font-size:12px;
          }

          &.delete a{
            @include mini-button-red;
            height:22px;line-height:22px;
            width:50px;
            padding:0 7px;
            font-size:12px;
          }

        }
      }
      &:hover{
        .detail{
          opacity:1;
        }
      }

      .title{
        font-size:14px;
        height:20px;line-height:20px;
        margin-top:5px;
        color:#666;
        width:200px - 10px;
        padding-left:5px;
        white-space:nowrap;
        text-overflow:ellipsis;
        overflow:hidden;
      }
    }


    &:hover{
      .meta-box{
        .title{color:#333;}
      }
    }

    &[data-kind=video]{
      .meta-box .cover{
        position:relative;
        &:before{
          content:"";
          position:absolute;
          top:0;bottom:0;
          left:0;right:0;
          border-top:solid 18px rgba(black, 0.8);
          border-bottom:solid 18px rgba(black, 0.8);
          pointer-events:none;
        }
        &:after{
          content:"";
          position:absolute;
          top:6px;bottom:6px;
          left:0;right:0;
          border-top:dashed 6px rgba(white, 0.6);
          border-bottom:dashed 6px rgba(white, 0.6);
          pointer-events:none;
        }
      }
    }
  }
}

.page-media-resource{
  .head{
    @include floatfix;
    margin-bottom:20px;

    .avatar{
      float:left;
    }
    .resource-name{
      margin-left:68px;
      font-size:19px;font-weight:bold;
      height:21px;line-height:21px;
    }
    .user{
      margin-left:68px;
      font-size:12px;
      height:20px;line-height:20px;
      margin-top:6px;
      .u-name{font-weight:bold;}
    }
  }

  .preview{
    width:640px;height:400px;
    padding:20px;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.07);
    @include border-radius(3px);
    background-color:#fff;
    margin-bottom:20px;
  }

  .share-state{
    @include floatfix;

    .share {
      @include floatfix;
      float:left;
      margin-bottom:20px;
      margin-right:20px;

      a{
        @include mini-button;
      }
    }

    .public-resource{
      @include floatfix;
      float:left;
      margin-bottom:20px;
      margin-right:20px;
      .added{
        float:left;
        background-color:rgba(black, 0.05);
        color:#333;
        border:solid 1px #ddd;
        height:30px;line-height:30px;
        padding:0 14px;
      }
      a.add-public{
        @include mini-button;
        @include gradient(#FDA034, #FF8201);
        &:hover{@include gradient(lighten(#FDA034, 10%), lighten(#FF8201, 10%));}
      }
      a.set-category{
        float:left;
        margin-left:20px;
        @include mini-button;
        @include gradient(#FDA034, #FF8201);
        &:hover{@include gradient(lighten(#FDA034, 10%), lighten(#FF8201, 10%));} 
      }

      &.added{
        a.add-public{
          display:none;
        }
      }
      &.unadd{
        .added,a.set-category{
          display:none;
        }
      }
      .submit-selected-category a{
        margin:20px 0 0 20px;
        @include mini-button;
        @include gradient(#FDA034, #FF8201);
        &:hover{@include gradient(lighten(#FDA034, 10%), lighten(#FF8201, 10%));} 
      }
    }
  }
}


.page-media-resources.shared{
  margin-top:42px;
}
.page-media-resources.public{
  margin-top:42px;
}

.page-media-share-users{
  @include floatfix;
  margin-top:32px;

  .media-resource-blank{
    height:28px;line-height:28px;
    padding:11px;
    border-bottom:solid 1px #E5E5E5;
  }

  .user{
    height:32px;line-height:32px;
    border-bottom:solid 1px #ddd;
    @include floatfix;
    padding:10px 0;

    .avatar{
      float:left;margin-right:10px;
    }
    .name{
      float:left;margin-right:10px;
      width:200px;
    }

  }
}