.page-media-resource-fixed{
  position:fixed;
  top:106px;left:230px;right:0;
  z-index:8;

  padding:0;
  background-color:#eee;
  background:url(bodybg.gif);
  border-left:solid 1px #b1b1b1;
}

.page-media-resource-head{
  @include floatfix;
  margin:0;
  padding:20px;
  background-color:rgba(white, 0.6);
  border-bottom:solid 1px #DADDE0;

  .create-folder-button{
    @include mini-button-blue;
    float:left;margin-right:20px;
  }

  .page-upload-button{
    float:left;
  }

  .search{
    float:right;
    form .field{
      margin-bottom:0;
    }
  }
}

.page-media-resource-nav{
  background-color:#f2f2f2;
  border-bottom:solid 1px #DADDE0;
  height:50px;line-height:50px;
  margin:0;
  padding:0 20px;

  .go-parent-dir, .go-back{
    &:after{display:none;}
    &:before{
      content:"";
      position:absolute;
      @include xicon(1,4,3);
      left:-6px;top:16px;
    }
    position:relative;
    margin-right:17px;
    padding-right:17px;
    border-right:solid 1px #FBFBFB;
    box-shadow:-1px 0 0 #DADDE0 inset;
    padding-left:24px;
    float:left;

    a{
      color:#333333;
      &:hover{
        color:#333333;
        text-decoration:none;
        background-color:#ddd;
        @include border-radius(3px);
      }
    }
  }

  .navs{
    float:left;
    a{
      color:#333333;
      &:hover{
        color:#333333;
        text-decoration:none;
        background-color:#ddd;
        @include border-radius(3px);
      }
    }

    span{
      float:left;
      &:after{
        content:"\\";
        padding:0 10px;
        color:#b2b2b2;
      }
      &:last-child{
        &:after{display:none;}
      }
    }
  }
  .detail{
    float:left;
  }
}

.page-create-folder-box{
  position:fixed;
  height:200px;
  width:300px;
  top:50%;left:50%;
  margin-top:-200px;
  margin-left:-200px;
  z-index:10003;
  box-shadow:0 1px 2px rgba(black, 0.07);
  background-color:rgba(white, 0.95);

  .form-title{
    height:32px;line-height:32px;
    background-color:rgba(black, 0.05);
    margin:3px;
    border:solid 1px #ddd;
    padding:0 14px;
    color:#666;
  }
  form{
    padding:20px;
  }
}

.page-upload-box{
  position:fixed;
  height:400px;
  width:640px;
  top:50%;left:50%;
  margin-top:-200px;
  margin-left:-320px;
  z-index:10003;
  box-shadow:0 1px 2px rgba(black, 0.07);
  background-color:rgba(white, 0.95);

  .form-title{
    height:32px;line-height:32px;
    background-color:rgba(black, 0.05);
    margin:3px;
    border:solid 1px #ddd;
    padding:0 14px;
    color:#666;
  }
}

// ----------

.page-media-resources-head{
  border-left:solid 1px #B1B1B1;
}

.page-media-resources{
  @include floatfix;
  border-left:1px solid transparent;
  background:url(bodybg.gif);
  padding:30px 20px 0;
  border-left:solid 1px #B1B1B1;
  border-bottom:solid 1px #B1B1B1;

  .media-resource-blank{
    height:24px;line-height:24px;
    padding:15px;
    border-left:solid 1px #B1B1B1;
    border-bottom:solid 1px #B1B1B1;
    background-color:#F7F7F7;
  }

  .media-resource{
    @include floatfix;
    display:block;
    float:left;
    margin-right:20px;
    margin-bottom:30px;

    position:relative;
    // @include transition(all ease-in .1s);

    .meta-box{
      @include border-radius(3px);
      box-shadow:0 1px 2px rgba(black, 0.07);
      padding:5px;
      background-color:white;
      position:relative;

      .cover{
        width:200px;height:150px;
        overflow:hidden;
        background-color:#eee;
      }

      .detail{
        background-color:rgba(white, 0.95);
        opacity:0;
        @include transition(all ease-in .2s);
        position:absolute;
        width:190px;height:140px;padding:5px;
        top:5px;left:5px;
        color:#888;
        overflow:hidden;

        .ftime{font-size:12px;margin-bottom:6px;}
        .link{
          font-size:14px;
          @include floatfix;
          margin-bottom:5px;
          a{
            @include mini-button-black;
            height:22px;line-height:22px;
            width:50px;
            padding:0 7px;
            font-size:12px;
          }

          &.download a{
            @include mini-button-blue;
            height:22px;line-height:22px;
            width:50px;
            padding:0 7px;
            font-size:12px;
          }

          &.delete a{
            @include mini-button-red;
            height:22px;line-height:22px;
            width:50px;
            padding:0 7px;
            font-size:12px;
          }

        }
      }
      &:hover{
        .detail{
          opacity:1;
        }
      }

      .title{
        font-size:12px;
        height:20px;line-height:20px;
        margin-top:5px;
        color:#666;
        width:200px - 10px;
        padding-left:5px;
        white-space:nowrap;
        text-overflow:ellipsis;
        overflow:hidden;
        a{
          color:#666;
          &:hover{color:#333;text-decoration:underline;}
        }
      }
    }


    &:hover{
      .meta-box{
        .title{color:#333;}
      }
    }

    &[data-kind=video]{
      .meta-box .cover{
        position:relative;
        &:before{
          content:"";
          position:absolute;
          top:0;bottom:0;
          left:0;right:0;
          border-top:solid 18px rgba(black, 0.8);
          border-bottom:solid 18px rgba(black, 0.8);
          pointer-events:none;
        }
        &:after{
          content:"";
          position:absolute;
          top:6px;bottom:6px;
          left:0;right:0;
          border-top:dashed 6px rgba(white, 0.6);
          border-bottom:dashed 6px rgba(white, 0.6);
          pointer-events:none;
        }
      }
    }
  }
}

.page-media-resource{
  .head{
    @include floatfix;
    margin-bottom:20px;

    .go-back{
      @include floatfix;
      padding-bottom:10px;
      margin-bottom:10px;
      border-bottom:solid 1px #ddd;
      a{
        @include mini-button-black;
      }
    }

    .avatar{
      float:left;
    }
    .resource-name{
      margin-left:68px;
      font-size:19px;font-weight:bold;
      height:21px;line-height:21px;
    }
    .user{
      margin-left:68px;
      font-size:12px;
      height:20px;line-height:20px;
      margin-top:6px;
      .u-name{font-weight:bold;}
    }
  }

  .share-state{
    @include floatfix;

    .share {
      @include floatfix;
      float:left;
      margin-bottom:20px;
      margin-right:20px;

      a{
        @include mini-button;
      }
    }

    .public-resource{
      @include floatfix;
      float:left;
      margin-bottom:20px;
      margin-right:20px;
      .added{
        float:left;
        background-color:rgba(black, 0.05);
        color:#333;
        border:solid 1px #ddd;
        height:30px;line-height:30px;
        padding:0 14px;
      }
      a.add-public{
        @include mini-button;
        @include gradient(#FDA034, #FF8201);
        &:hover{@include gradient(lighten(#FDA034, 10%), lighten(#FF8201, 10%));}
      }
      a.set-category{
        float:left;
        margin-left:20px;
        @include mini-button;
        @include gradient(#FDA034, #FF8201);
        &:hover{@include gradient(lighten(#FDA034, 10%), lighten(#FF8201, 10%));} 
      }

      &.added{
        a.add-public{
          display:none;
        }
      }
      &.unadd{
        .added,a.set-category{
          display:none;
        }
      }
      .submit-selected-category a{
        margin:20px 0 0 20px;
        @include mini-button;
        @include gradient(#FDA034, #FF8201);
        &:hover{@include gradient(lighten(#FDA034, 10%), lighten(#FF8201, 10%));} 
      }
    }
  }
}

.page-media-share-users{
  @include floatfix;
  margin-top:52px;

  .media-resource-blank{
    height:24px;line-height:24px;
    padding:15px;
    border-left:solid 1px #B1B1B1;
    border-bottom:solid 1px #B1B1B1;
    background-color:#F7F7F7;
  }

  .user{
    height:32px;line-height:32px;
    border-bottom:solid 1px #ddd;
    @include floatfix;
    padding:10px 0;

    .avatar{
      float:left;margin-right:10px;
    }
    .name{
      float:left;margin-right:10px;
      width:200px;
    }

  }
}

.page-resource-tree{
  .box{
    border:solid 1px #ddd;
    margin:3px;
    height:298px;
    overflow:auto;
    background-color:#fff;

    ul.dynatree-container{
      border:none;
    }
  }
  .ops{
    margin:14px;
    @include floatfix;

    .submit-selected-dir a{
      @include mini-button;
    }

    .submit-selected-dir{
      float:left;
      margin-right:14px;
    }
    a.close-fbox{
      @include mini-button-black;
    }
  }
}

.page-media-share-form{
  margin-top:52px;

  .field.course, .field.team{
    border:solid 1px #ddd;
    background-color:rgba(black, 0.05);
    margin-top:20px;
    padding:10px;
  }
}

.page-file-entity-preview{
  width:640px;
  padding:10px;
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.07);
  @include border-radius(3px);
  background-color:#fff;
  margin-bottom:20px;
  .state{
    height:24px;line-height:24px;
    font-size:16px;
  }

  .video-screenshots{
    @include floatfix;
    margin-top:20px;
    .desc{
      height:24px;line-height:24px;
      border-bottom:solid 1px #ddd;
      margin-bottom:10px;
      padding-bottom:10px;
    }
    .img{
      width:160px;height:120px;
      overflow:hidden;
      margin:0 10px 10px 0;
      float:left;
      @include border-radius(3px);
    }
  }
}

.page-float-box-list-selector.media-share{
  a.submit-fbox{
    @include mini-button;
    margin-right:10px;
  }
  a.close-fbox{
    @include mini-button-black;
  }
}