.page-navbar{
  position:fixed;
  left:0px;top:0px;bottom:0px;
  width:210px;
  background-color:rgba(white, 0.6);
  box-shadow:0 0 5px #ddd;
  padding-top:61px;
  border-right:solid 1px #ddd;
  z-index:9;
  .group{
    margin-bottom:10px;
    .title{
      padding-left:30px;
      height:40px;line-height:40px;
      color:#666;
      border-bottom:solid 1px #ddd;
      font-size:16px;
    }

    .item{
      a.lv1{
        display:block;
        height:40px;line-height:40px;
        padding:0 0 0 60px;
        font-weight:bold;
        color:#555;
        border-top:solid 1px transparent;
        border-bottom:solid 1px transparent;
        position:relative;
        &:hover{
          color:#333;
          background-color:rgba(black, 0.05);
          border-color:#ddd;
        }

        &:before{
          content:"";
          display:block;
          position:absolute;
          width:23px;
          height:20px;
          top:11px;left:30px;
        }
      }

      .subitem{
        a.lv2{
          display:block;
          height:30px;line-height:30px;
          margin:0 0 0 35px;
          padding:0 0 0 35px;
          font-weight:bold;
          color:#555;
          border-top:solid 1px transparent;
          border-bottom:solid 1px transparent;
          position:relative;
          &:hover{
            color:#333;
            background-color:rgba(black, 0.05);
            border-color:#ddd;
          }

          &:before{
            content:"";
            display:block;
            position:absolute;
            width:23px;
            height:20px;
            top:11px;left:30px;
          }

        }
        &.current{
          a.lv2{
            color:#333;
            background-color:rgba(black, 0.05);
            border-color:#ddd;
          }
        }
      }
      &.current{
        a.lv1{
          color:#333;
          background-color:rgba(black, 0.05);
          border-color:#ddd;
        }
      }
    }
  }
}
