.page-public-resource-nav{
  background-color:rgba(black, 0.05);
  border-top:solid 1px #ddd;
  border-bottom:solid 1px #ccc;
  height:50px;line-height:50px;
  margin:0 -20px;
  padding:0 20px;

  .go-parent-dir{
    float:left;
    padding-right:11px;
    border-right:solid 1px #ccc;
    margin-right:11px;
    padding-left:11px;
  }
  .navs{
    float:left;
    a{
      color:#666;
      &:hover{color:#333;}
    }

    span{
      float:left;
      &:after{
        content:'>';
        padding:0 10px;
        color:#b2b2b2;
      }
      &:last-child{
        &:after{display:none;}
      }
    }
  }
}