@mixin question-cells {
  .cell {
    &.title{width:600px;}
		&.teacher{width:200px;}
    &.answered{width:100px;}
  }
}

.page-questions-head {
  @include generic-page-head;
	@include question-cells;
}

.page-questions {
  @include generic-body-list;
	@include question-cells;
}
