@mixin score-list-cells {
  .cell {
    &.title{width:400px;}
    &.semester{width:100px;}
    &.course{width:200px;}
    &.count{width:200px;}
  }
}

.page-score-lists-head {
  @include generic-page-head;
	@include score-list-cells;
}

.page-score-lists{
  @include generic-body-list;
	@include score-list-cells;
}

.page-student-score-list, .page-course-score-list {
  th, td {
	  padding:4px 16px;
  }
}