.page-media-file-uploader, .page-attachment-uploader{
  .uploading-files-list{
    height:355px;
    overflow-y:auto;
    margin:3px;
    border:solid 1px #ccc;
  }
  .uploading-files-list, .progress-bar-sample{
    .file{
      border-bottom:solid 1px #ccc;
      padding:0;
      position:relative;
      height:30px;

      &.error{
        background-color:white;
        .data{
          .attr{display:none;}
          .state{
            color:lighten(red, 10%);
            display:block;width:100px;margin-right:12px;
          }
        }
        .bar{display:none;}
        .ops a.close{display:none;}
      }

      &.cancel{
        background-color:white;
        .data{
          .attr{display:none;}
          .state{
            color:#666;
            display:block;width:100px;margin-right:12px;
          }
        }
        .bar{display:none;}
        .ops a.close{display:none;}
      }

      &.success{
        background-color:white;
        .data{
          .attr{display:none;}
          .state{
            color:lighten(green, 10%);
            display:block;width:100px;margin-right:12px;
          }
        }
        .bar{display:none;}
        .ops a.close{display:none;}
      }

      .bar{
        position:absolute;
        top:0;bottom:0;left:0;right:0;
        background-color:white;
        .p{
          position:absolute;
          top:0;bottom:0;
          background-color:#ABD7FF;
        }
      }

      .data{
        position:absolute;
        top:0;left:0;
        height:30px;line-height:30px;
        font-size:12px;
        padding-left:12px;

        .name, .size, .percent, .speed, .state{
          text-overflow:ellipsis;
          white-space:nowrap;
          overflow:hidden;
          float:left;
        }

        .name{width:200px;margin-right:12px;}
        .size{width:100px;margin-right:12px;}
        .percent{width:40px;margin-right:12px;}
        .speed{width:100px;}

        .state{display:none;}
      }

      .ops{
        position:absolute;
        top:3px;right:3px;
        overflow:hidden;

        a.close{
          @include icon-close-24(#666);
        }
      }

    }
  }
}