.page-media-file-uploader, .page-attachment-uploader{
  .upload-drop-area{
    margin:3px;
    border:solid 1px #ddd;
    background-color:#FFFAE8;
    padding:14px;
    position:relative;

    $h:32px;
    .upload-btn-box{
      width:86px;
      height:$h;
      position:relative;
      overflow:hidden;

      .upload-btn{
        display:block;
        height:$h - 2px;line-height:$h - 2px;
        width:84px;
        @include gradient(#fda034, #FF8201);
        border:1px solid rgba(black, 0.2);
        @include border-radius(3px);
        color:white;text-align: center;
        text-shadow:0 -1px 1px rgba(black, 0.3);
        font-size:14px;
      }
      input[type=file]{
        position:absolute;
        top:0;right:0;
        font-size:118px;
        opacity:0;
        cursor:pointer;
      }
    }
    .desc{
      height:$h;line-height:$h;
      position:absolute;
      top:14px;left:114px;
    }
    a.form-cancel-button{
      @include mini-button;
      position:absolute;
      top:14px;right:14px;
      @include gradient(#666, #555);
      &:hover{
        @include gradient(gray, #6e6e6e);
      }
    }

    .tip{
      display:none;
      margin-top:14px;
      height:40px;line-height:40px;
      border:dashed 1px rgba(black, 0.2);
      padding:12px;
      font-size:14px;
      text-align:center;
      color:rgba(black, 0.6);
      background-color:rgba(black, 0.05);
      .t2{display:none;}

      &.dragover{
        background-color:rgba(#6BACEB, 0.6);
        color:white;
        text-shadow:0 -1px 1px rgba(black, 0.3);
        border-color:rgba(white, 0.4);
        .t1{display:none;}
        .t2{display:block;}
      }
    }
  }

  .uploading-files-list{
    // background-color:rgba(black, 0.05);
    height:292px;
    overflow-y:auto;
    margin:3px;
    border:solid 1px #ddd;
  }
  .uploading-files-list, .progress-bar-sample{
    .file{
      border-bottom:solid 1px #ccc;

      padding:5px 84px 5px 14px;
      position:relative;

      @include transition(all ease-in .2s);

      &.error{
        background-color:#333;
        $c1:lighten(red, 30%); $c2 : #ccc;
        .meta{
          .name{color:$c2;};
          .size{color:$c2;};
        }
        .bar{
          display:none;
        }
        .stat{
          display:none;
        }
        .error-info{
          display:block;
          color:$c1;font-weight:bold;
        }
      }

      .bar{
        position:absolute;
        top:0;bottom:0;left:0;right:0;
        background-color:rgba(white, 0.8);
        z-index:-1;
        .percent{
          position:absolute;
          height:20px;line-height:20px;
          top:30px;right:56px;

          font-size:12px;
          text-align:center;
          color:#666;
          text-shadow:0 0 2px white;
          z-index:1;
        }
        .p{
          position:absolute;
          top:0;bottom:0;
          background-color:#DDF1CE;
        }
      }

      .meta{
        overflow:hidden;
        height:20px;line-height:20px;
        margin-bottom:5px;
        .name, .size{height:20px;line-height:20px;font-size:12px;}
        .name{float:left;font-weight:bold;margin-right:12px;}
        .size{float:left;color:#444;}
      }

      .stat{
        overflow:hidden;
        height:20px;line-height:20px;
        color:#666;
        font-size:12px;
        .speed{float:left;margin-right:12px;}
        .remaining-time{float:left;}
      }

      .error-info{
        display:none;
      }

      .ops{
        position:absolute;
        top:15px;right:15px;
        overflow:hidden;

        a{
          float:left;
          width:24px;height:24px;
          overflow:hidden;
          border:solid 1px transparent;
          line-height:20em;
          position:relative;

          &:hover{
            border:1px solid #ddd;
            background-color:rgba(white, 0.8);
          }

          &.close{
            &:before{
              content:"";
              height:17px;width:3px;
              background-color:#666;
              position:absolute;
              top:4px;left:11px;
              @include transform(rotate(45deg));
            }
            &:after{
              content:"";
              height:17px;width:3px;
              background-color:#666;
              position:absolute;
              top:4px;left:11px;
              @include transform(rotate(-45deg));
            }
          }

        }
      }
    }
  }
}