%div 转发 : #{@status.content}
=flash[:error]
=form_tag "/statuses/#{@status.id}/repost",:method=>:post do
  %div
    %label 说点什么
  %div=text_area_tag "content"
  %div
    %label 发送班级
  %div
    -Team.all.each do |team|
      %span
        =check_box_tag("team_ids[]",team.id)
        %label=team.name
  %div=submit_tag "发送"
		
