- hbreadcrumb '首页', '/'
- hbreadcrumb '我收到的共享'

- content_for :topbar do
  = jsearchbar '/media_shares/search'

= render 'media_shares/parts/nav'

.page-media-share-shared-users
  - @shared_users.each do |user|
    .shared-user
      = link_to user.name, "/media_shares/users/#{user.id}"
