.page-media-shared-resource-list
  - if resources.blank?
    .media-resource-blank.quiet
      该共享目录下没有资源
  - else
    - resources.each do |resource|
      - if resource.is_dir?
        .media-resource
          - url = "/media_shares/users/#{resource.creator.id}#{resource.path}"
          = link_to resource.name, url, :class=>'link'
      - else
        = resource.name
