-htitle '修改密码'

.page-setting
  = flash_info
  = form_for current_user,:url=>"/admin/setting/password", :html=>{:method=>:put} do |f|
    .field.need
      %label 现在的密码
      =password_field_tag :old_password, ''
    .field.need
      %label 新密码
      =password_field_tag :new_password, ''
    .field.need
      %label 再次输入新密码
      =password_field_tag :new_password_confirmation, ''
    .field
      %a.form-submit-button{:href=>'javascript:;'} 确定
