.page-sider{
  position:fixed;
  left:0;top:0;
  padding-top:40px;
  padding-left:0;
  z-index:9;
  width:215px;

  .page-admin-side-calendar{
    background-color:#F2F2F2;
    border-right:solid 1px #b1b1b1;

    .time-bar{
      line-height:32px;height:32px;
      padding:0 15px 0 32px;
      border-bottom:solid 1px #DADDE0;
      background:url(/assets/icons/clock.png) no-repeat 6px 6px;
    }

    .cb{
      border-top:solid 1px white;
      padding:5px;
      .calendar{
        border:solid 1px #DADDE0;
        background-color:white;
        width:202px;
        border-bottom:none;

        .weekday{
          height:25px;line-height:25px;
          @include floatfix;
          .wd{
            float:left;
            border-bottom:solid 1px #DADDE0;
            text-align:center;
            width:28px;
            border-right:solid 1px #dadde0;
            font-size:12px;
            &:last-child{border-right:none;color:red;}
          }
        }
        .days{
          @include floatfix;
          .day{
            width:28px;
            text-align:center;
            border-bottom:solid 1px #DADDE0;
            border-right:solid 1px #dadde0;
            float:left;
            height:25px;line-height:25px;
            font-size:12px;

            &:nth-child(7n){border-right:none;color:red;}

            &.today{
              background-color:#3192DA;
              color:white;
            }
          }
        }
      }
    }
  }

  .page-navbar{
    .group{
      margin-bottom:10px;

      .title{
        display:none;
      }

      .items{
        padding-top:0;
        padding-bottom:10px;
        background-color:#F2F2F2;
        border-right:solid 1px #b1b1b1;
        border-bottom:solid 1px #b1b1b1;

        &:after{
          content:"";
          display:block;
          height:10px;
          border-top:1px solid #DADDE0;
          box-shadow:0 1px 0 #FBFBFB inset;
        }

        .item{
          a.lv1{
            display:block;
            height:52px;line-height:52px;
            background-color:#F2F2F2;
            border-top:1px solid #DADDE0;
            box-shadow:0 1px 0 #FBFBFB inset;
            font-size:15px;
            padding-left:55px;

            color:#333;
            text-shadow:0 1px 1px #fff;

            @include transition(background-color 0.5s ease 0s);

            &:hover{background-color:#f9f9f9}
          }

          &.current a.lv1{
            background-color:#C8E4F3;
            box-shadow:none;
          }

          &.current .subitems{
            display:block;
          }
          .subitems{
            display:none;
            background-color:#fff;
            border-top:1px solid #D1D1D1;
            box-shadow:0 4px 8px rgba(black, 0.1) inset;
            overflow:hidden;
            padding:8px 0;

            .subitem{

              a.lv2{
                display:block;
                height:30px;line-height:30px;
                padding-left:65px;
                color:#666;

                @include transition(background-color 0.5s ease 0s);

                &:hover{background-color:#f0f5f9;}
              }

              &.current a.lv2{
                background-color:#f0f5f9;
                font-weight:bold;
              }

            }
          }
        }
      }
    }
  }
}

@mixin subicon($y){
  a.lv2:before{@include xicon(1,6,$y);}
  &.current a.lv2:before{@include xicon(1,5,$y);}
}

// 图标
.page-navbar .group .items .item{
  position:relative;
  &:after{
    content:"";
    width:24px;height:24px;
    @include xicon(1,2,5);
    position:absolute;
    right:14px;top:16px;
  }
  &.current{
    &:after{
      @include xicon(1,3,5);
    }
  }

  a.lv1{
    position:relative;
    &:before{
      content:"";
      width:24px;height:24px;
      @include border-radius(3px);
      background-color:#8DB6CD;
      position:absolute;
      top:14px;left:18px;
    }
    &:after{
      content:"";
      width:24px;height:24px;
      @include border-radius(3px);
      position:absolute;
      top:14px;left:18px;
      @include xicon(1,1,4);
    }
  }

  &.current a.lv1{
    &:before{
      width:22px;height:22px;
      border:solid 1px #2079A2;
      @include gradient(#70AAC5, #317EAA);
    }
  }

  &.dashboard       a.lv1:after{@include xicon(1,1,4);}
  &.teaching-info   a.lv1:after{@include xicon(1,2,4);}
  &.media-resources a.lv1:after{@include xicon(1,3,4);}
  &.course          a.lv1:after{@include xicon(1,4,4);}
  &.notice          a.lv1:after{@include xicon(1,1,5);}

  .subitem{
    a.lv2{
      position:relative;
      &:before{
        content:"";
        width:24px;height:24px;
        position:absolute;
        top:4px;left:32px;
        @include xicon(1,6,8);
      }
    }
    &.current a.lv2:before{@include xicon(1,5,8)};

    &.dashboard{@include subicon(1)}
    &.homeworks{@include subicon(2)}
    &.score_lists{@include subicon(3)}
    &.course_surveys{@include subicon(4)}
    &.questions{@include subicon(5)}

    &.courses{@include subicon(6)}
    &.students{@include subicon(7)}
    &.teachers{@include subicon(7)}
    &.couse_subscriptions{@include subicon(8)}

    &.my_resources{@include subicon(9)}
    &.media_shares{@include subicon(9)}
    &.public_resources{@include subicon(9)}

    &.curriculum{@include subicon(10)}

    &.announcements{@include subicon(11)}
    &.comments{@include subicon(12)}
  }
}