.grid_11.alpha
  %div
    %p 您的浏览器版本较低，基于较新的HTML技术构建的MINDPIN社区目前不支持在IE7以及更低版本浏览器上的正常工作

    %p 建议使用 <a href="http://www.mozilla.org/firefox/" target="_blank">Firefox (火狐) 浏览器</a>
    %p 或者 <a href="http://www.google.com/chrome" target="_blank">Google Chrome 浏览器</a>
    %p 或者 <a href="http://www.apple.com.cn/safari/" target="_blank">Safari 浏览器</a>
    %p 或者其他的双核浏览器（如360，遨游3，搜狗等等）
    %p 或者 <a href="http://www.microsoft.com/china/windows/downloads/ie/getitnow.mspx" target="_blank">IE8以上版本IE浏览器</a>
    %p 访问 MINDPIN，以获得最佳浏览体验