= render '/search/parts/search_tab', :all_count => @all_count, :media_resources_count => @media_resources_count, :media_shares_count => @media_shares_count, :public_resources_count => @public_resources_count

- @public_resources.each do |public_resource|
  = public_resource.name
  
.page-paginate= will_paginate @public_resources