- htitle '教学计划'

- hbreadcrumb '基础数据管理', '/admin'
- hbreadcrumb '教学计划'
  

.page-admin-ops
  %a.create{:href=>'/admin/teaching_plans/new'} 增加教学计划
  %a.import{:href=>'/admin/teaching_plans/import_from_csv_page'} 批量导入


.page-paginate= will_paginate @teaching_plans


.page-admin-models.teaching_plans
  = render 'teaching_plan_list', :teaching_plans=>@teaching_plans