.page-media-resource-head
  =render 'public_resources/parts/search_bar'
  =render 'public_resources/parts/forms'

.page-media-shared-resource-list
  - resources = PublicResource.where(:category_id=>nil)
  - resources.each do |resource|
    .resource
      = resource.name
  = render 'category_list', :categories => Category.roots
