%div 教师姓名 #{@teacher.real_name}
%div 教师编号 #{@teacher.tid}
-if @teacher.user.blank?
  %div 未绑定用户
  %div=link_to "绑定用户","/teachers/#{@teacher.id}/set_user"
-else
  %div 已绑定用户 #{@teacher.user.name}

=link_to "首页","/"
=link_to "教师列表","/teachers"
		
