- courses.each do |course|
  .model.course
    .name= course.name
    .cid= course.cid

    .ops
      - remove_url = admin_course_path(course)
      %a.remove{:href=>'javascript:;', :'data-url'=>remove_url} 删除
      %a.edit{:href=>"/admin/courses/#{course.id}/edit"} 编辑
      %a.open-teachers{:href=>'javascript:;'}
        %span.open 展开
        %span.close 收起
      %a.detail{:href=>"/admin/courses/#{course.id}"} 查看详情
