- htitle '课程维护'

- hbreadcrumb '基础数据管理', '/admin'
- hbreadcrumb '课程维护'
  

.page-admin-ops
  %a.create{:href=>'/admin/courses/new'} 增加课程
  %a.import{:href=>'/admin/courses/import_from_csv_page'} 批量导入课程

.page-paginate= will_paginate @courses

.page-admin-models.courses
  = render 'course_list', :courses=>@courses
  
.page-paginate= will_paginate @courses
