.page-title 课程维护

= render 'admin/shared/search_field', :search_path => search_admin_courses_path

.page-admin-ops
  %a.create{:href=>'/admin/courses/new'} 增加课程

.page-admin-models.courses
  = render 'course_list', :courses => @courses
  
= will_paginate @courses
