- htitle '课程维护'

- hbreadcrumb '基础数据管理', '/admin'
- hbreadcrumb '课程维护', '/admin/courses'
- hbreadcrumb '增加课程'

.page-admin-form
  = flash_info
  = form_for [:admin,@course] do |f|
    .field.need
      %label 名字
      =f.text_field :name
    .field.need
      %label 课程号
      =f.text_field :cid
    .field
      %label 备注
      =f.text_area :desc
    .field
      %label 教学大纲
      =f.text_area :syllabus
    .field
      = jfsubmit '确定'
      = jfcancel '取消'
    
		
