%p
  %a{:href => '/student?status=undeadline'} 未过期
  %a{:href => '/student?status=deadline'} 已过期

- @homeworks.each do |h|
  %p= link_to h.title, student_path(h)
  %p
    截止时间
    =h.deadline.strftime("%Y-%m-%d %H:%M:%S")
  
  - if h.assigned_by_student(current_user) && h.assigned_by_student(current_user).has_finished 
    = '我已完成'
  - else
    = '我未完成'
  
