- hbreadcrumb '首页', '/'
- hbreadcrumb '课程'

.page-courses-head
  .tab
    %a.item.mine{:href=>'/courses/mine'} 我的课程
    %a.item.all{:href=>'/courses'} 全部课程

  .cells
    .cell.name 名称
    .cell.cid 编号
    .cell.department 开课院系
    .cell.location 上课地点
    .cell.teacher 任课老师

.page-courses
  - @courses.each do |course|
    .course
      .cell.name
        = link_to hspan(course.name), course
      .cell.cid
        = link_to hspan(course.cid), course
      -# .cell.location
      -#   = hspan(course.location)
      -# .cell.teacher
      -#   .avatar= avatar_link course.teacher_user, :tiny
      -#   .name= user_link course.teacher_user

.page-paginate= will_paginate @courses